In [1]:
import pandas as pd

In [2]:
kospi_ratio = pd.read_excel('../raw_data/코스피_재무비율.xlsx')
kosdaq_ratio = pd.read_excel('../raw_data/코스닥_재무비율.xlsx')

In [3]:
print('kospi_ratio: ', kospi_ratio.shape)
print('kosdaq_ratio: ', kosdaq_ratio.shape)

kospi_ratio:  (8997, 156)
kosdaq_ratio:  (18974, 156)

In [4]:
print('kospi_ratio: ', kospi_ratio.drop_duplicates('거래소코드').shape)
print('kosdaq_ratio: ', kosdaq_ratio.drop_duplicates('거래소코드').shape)

kospi_ratio:  (820, 156)
kosdaq_ratio:  (1935, 156)

In [5]:
listed = pd.concat([kospi_ratio, kosdaq_ratio], ignore_index=True)

In [6]:
listed[listed['거래소코드'] == 68270]

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,총자본증가율(IFRS연결),...,인건비(IFRS연결)(백만원),금융비용(IFRS연결)(백만원),임차료(IFRS연결)(백만원),세금과공과(IFRS연결)(백만원),감가상각비(IFRS연결)(백만원),종업원1인당 부가가치(IFRS연결)(백만원).1,총자본투자효율(IFRS연결).1,기계투자효율(IFRS연결).1,부가가치율(IFRS연결).1,종업원수(IFRS연결)
1444,(주)셀트리온,68270,2012/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,0.00,...,56122.23,9244.68,1026.32,946.04,36679.19,NaN,16.82,2440.15,83.21,NaN
1445,(주)셀트리온,68270,2013/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,14.17,...,47863.33,21608.50,1044.44,1100.75,47710.47,NaN,11.87,2214.09,103.78,NaN
1446,(주)셀트리온,68270,2014/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,17.38,...,75196.20,28158.55,1898.77,2093.42,76278.81,NaN,14.33,2358.47,70.64,NaN
1447,(주)셀트리온,68270,2015/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,18.34,...,84885.07,22657.19,2211.66,2218.44,82174.08,NaN,13.00,480.46,59.21,NaN
1448,(주)셀트리온,68270,2016/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,4.93,...,101885.24,14297.96,2242.57,3546.02,84773.55,NaN,14.02,138.42,60.27,NaN
1449,(주)셀트리온,68270,2017/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,14.23,...,129910.64,9133.63,2502.06,3881.94,97950.27,NaN,22.05,271.63,76.54,NaN
1450,(주)셀트리온,68270,2018/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,6.35,...,165997.87,3948.96,2838.20,4763.27,124826.47,NaN,17.24,247.20,61.50,NaN
1451,(주)셀트리온,68270,2019/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,10.18,...,209351.25,-1228.84,1101.15,5584.20,153719.62,NaN,19.45,259.78,66.51,NaN
1452,(주)셀트리온,68270,2020/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,30.07,...,243184.58,1537.81,0.00,5846.31,173849.80,NaN,21.54,365.66,58.49,NaN
1453,(주)셀트리온,68270,2021/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,13.03,...,252822.59,1602.49,0.00,6821.75,214159.74,NaN,21.62,407.25,64.17,NaN
1454,(주)셀트리온,68270,2022/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,3.83,...,276427.54,-6943.42,0.00,7223.42,226390.02,NaN,19.17,425.62,49.44,NaN
1455,(주)셀트리온,68270,2023/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,238.06,...,304339.57,-9466.72,0.00,7919.81,245827.33,NaN,6.12,521.69,56.04,NaN
13163,(주)셀트리온,68270,2012/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,0.00,...,56122.23,9244.68,1026.32,946.04,36679.19,NaN,16.82,2440.15,83.21,NaN
13164,(주)셀트리온,68270,2013/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,14.17,...,47863.33,21608.50,1044.44,1100.75,47710.47,NaN,11.87,2214.09,103.78,NaN
13165,(주)셀트리온,68270,2014/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,17.38,...,75196.20,28158.55,1898.77,2093.42,76278.81,NaN,14.33,2358.47,70.64,NaN
13166,(주)셀트리온,68270,2015/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,18.34,...,84885.07,22657.19,2211.66,2218.44,82174.08,NaN,13.00,480.46,59.21,NaN
13167,(주)셀트리온,68270,2016/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,9.96,...,99333.59,10847.19,2242.57,3546.02,88675.33,NaN,14.36,148.62,64.72,NaN

In [7]:
listed.shape

(27971, 156)

In [8]:
listed.drop_duplicates('거래소코드').shape

(2739, 156)

# 결산월이 12월인 기업만

In [9]:
listed['회계년도'] = pd.to_datetime(listed['회계년도'], format='%Y/%m')
listed = listed[listed['회계년도'].dt.month == 12]

In [10]:
listed.shape

(27554, 156)

In [11]:
listed.drop_duplicates('거래소코드').shape

(2715, 156)

# 특수 목적 회사 drop
- 1차 통계청 한국표준산업분류(KSIC) 기준으로 제거
    - K. 금융및보험업(64~66)
        - 64. 금융업
        - 65. 보험및연금업
        - 66. 금융및보험관련서비스업
- 2차 키워드 제거
    - 인베스트|투자|금융|보험|캐피탈|특수목적|프로젝트|문화산업

In [12]:
listed = listed[~listed['통계청 한국표준산업분류 코드 10차(대분류)'].isin([64, 65, 66])]
listed = listed[~listed['회사명'].str.contains('인베스트|투자|금융|보험|캐피탈|특수목적|프로젝트|문화산업')]

In [13]:
listed.shape

(27388, 156)

In [14]:
listed.drop_duplicates('거래소코드').shape

(2700, 156)

# 이전 상장에 따른 중복 데이터 제거

In [15]:
# Step 1: 소속코드가 4와 1을 모두 가지는 거래소코드 찾기
# 거래소코드별로 그룹화하여 소속코드를 집합으로 만든 후, 조건을 만족하는 거래소코드를 필터링합니다.
grouped = listed.groupby('거래소코드')['소속코드'].apply(set)
target_codes = grouped[grouped.apply(lambda x: {1, 4}.issubset(x))].index
target_codes

Index([  3670,  22100,  26960,  30190,  34230,  35510,  35720,  36420,  66970,
        68270,  90460,  97520, 100090, 108320, 178920, 192080],
      dtype='int64', name='거래소코드')

In [16]:
# Step 2: 소속코드가 4이고 상장폐지일이 존재하는 행 제거
listed = listed[~((listed['거래소코드'].isin(target_codes)) & (listed['소속코드'] == 4) & (~listed['상장폐지일'].isna()))]

In [17]:
listed.shape

(27260, 156)

In [18]:
listed.drop_duplicates('거래소코드').shape

(2700, 156)

# 상장 이전 데이터 제거

In [19]:
listed[['회계년도', '상장일']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 27260 entries, 0 to 27970
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회계년도    27260 non-null  datetime64[ns]
 1   상장일     27260 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 638.9+ KB

In [20]:
listed['상장일'] = pd.to_datetime(listed['상장일'], format='%Y/%m/%d')

In [21]:
# 회계년도가 상장년도 이전(미만)인 데이터 제거
listed[listed['회계년도'].dt.year < listed['상장일'].dt.year][['회사명', '거래소코드', '회계년도', '상장일']]

             회사명   거래소코드       회계년도        상장일
140      (주)경보제약  214390 2012-12-01 2015-06-29
141      (주)경보제약  214390 2013-12-01 2015-06-29
142      (주)경보제약  214390 2014-12-01 2015-06-29
224    (주)금호에이치티  214330 2012-12-01 2015-11-11
225    (주)금호에이치티  214330 2013-12-01 2015-11-11
...          ...     ...        ...        ...
27913  휴림네트웍스(주)  192410 2012-12-01 2014-08-14
27914  휴림네트웍스(주)  192410 2013-12-01 2014-08-14
27947      휴젤(주)  145020 2012-12-01 2015-12-24
27948      휴젤(주)  145020 2013-12-01 2015-12-24
27949      휴젤(주)  145020 2014-12-01 2015-12-24

[3943 rows x 4 columns]

In [22]:
# 회계년도가 상장년도 이전(미만)인 데이터 제거
listed = listed[listed['회계년도'].dt.year >= listed['상장일'].dt.year]

In [23]:
listed.shape

(23317, 156)

In [24]:
listed.drop_duplicates('거래소코드').shape

(2641, 156)

# merge

### 회계 감리 지적 기업 csv 불러오기

In [25]:
fraud = pd.read_csv('../raw_data/회계 감리 지적 기업.csv')

In [26]:
print('fraud 로우 수: ', fraud.shape)
print('fraud 기업 수: ', fraud.drop_duplicates('거래소코드').shape)

fraud 로우 수:  (498, 5)
fraud 기업 수:  (138, 5)

In [27]:
# 중복 행 제거 후 인덱스 리셋
fraud = fraud.drop_duplicates().reset_index(drop=True)

In [28]:
print('fraud 로우 수: ', fraud.shape)
print('fraud 기업 수: ', fraud.drop_duplicates('거래소코드').shape)

fraud 로우 수:  (445, 5)
fraud 기업 수:  (138, 5)

### 기준이 되는 데이터 타입 맞추기

In [29]:
listed[['거래소코드', '회계년도']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 23317 entries, 0 to 27970
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   23317 non-null  int64
 1   회계년도    23317 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 546.5 KB

In [30]:
fraud[['거래소코드', '회계년도']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   445 non-null    int64
 1   회계년도    445 non-null    int64
dtypes: int64(2)
memory usage: 7.1 KB

In [31]:
listed['회계년도'] = listed['회계년도'].dt.year

### pd.merge(listed, fraud, on=['거래소코드', '회계년도'])

In [32]:
listed = pd.merge(listed, fraud, on=['거래소코드', '회계년도'])

In [33]:
listed.shape

(403, 159)

In [34]:
listed.drop_duplicates('거래소코드').shape

(132, 159)

In [35]:
print(listed[listed['기업유형'] == '코스피'].shape)
print(listed[listed['기업유형'] == '코스닥'].shape)

(128, 159)
(275, 159)

In [36]:
print(listed[listed['기업유형'] == '코스피'].drop_duplicates('거래소코드').shape)
print(listed[listed['기업유형'] == '코스닥'].drop_duplicates('거래소코드').shape)

(40, 159)
(92, 159)

# 정리

In [37]:
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '세금과공과(IFRS연결)(백만원)', '감가상각비(IFRS연결)(백만원)',
       '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1', '기계투자효율(IFRS연결).1',
       '부가가치율(IFRS연결).1', '종업원수(IFRS연결)', '기업명', '기업유형', '이익 과대계상 (비용 과소계상)'],
      dtype='object', length=159)

In [39]:
listed = listed.drop(columns = ['기업명', '기업유형'])
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '금융비용(IFRS연결)(백만원)', '임차료(IFRS연결)(백만원)', '세금과공과(IFRS연결)(백만원)',
       '감가상각비(IFRS연결)(백만원)', '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1',
       '기계투자효율(IFRS연결).1', '부가가치율(IFRS연결).1', '종업원수(IFRS연결)',
       '이익 과대계상 (비용 과소계상)'],
      dtype='object', length=157)

In [40]:
listed = listed.rename(columns={'회사명_x': '회사명', '이익 과대계상 (비용 과소계상)': 'label'})
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '금융비용(IFRS연결)(백만원)', '임차료(IFRS연결)(백만원)', '세금과공과(IFRS연결)(백만원)',
       '감가상각비(IFRS연결)(백만원)', '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1',
       '기계투자효율(IFRS연결).1', '부가가치율(IFRS연결).1', '종업원수(IFRS연결)', 'label'],
      dtype='object', length=157)

### 중복된 내용 drop
- 회계 감리 지적 기업을 정리하는 과정에서 팀원 간 겹치는 보고서가 있었음.

In [41]:
listed[listed['회사명'] == '(주)제이테크놀로지']

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,총자본증가율(IFRS연결),...,금융비용(IFRS연결)(백만원),임차료(IFRS연결)(백만원),세금과공과(IFRS연결)(백만원),감가상각비(IFRS연결)(백만원),종업원1인당 부가가치(IFRS연결)(백만원).1,총자본투자효율(IFRS연결).1,기계투자효율(IFRS연결).1,부가가치율(IFRS연결).1,종업원수(IFRS연결),label
278,(주)제이테크놀로지,35480,2012,4,91,32605,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,0.00,...,1222.99,1073.01,0.00,889.25,NaN,-3.51,-171381.39,-6.32,NaN,1
279,(주)제이테크놀로지,35480,2012,4,91,32605,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,0.00,...,1222.99,1073.01,0.00,889.25,NaN,-3.51,-171381.39,-6.32,NaN,1
280,(주)제이테크놀로지,35480,2013,4,91,32605,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,0.00,...,2002.46,3790.61,2045.11,1452.54,NaN,-0.84,-265.54,-1.27,NaN,1
281,(주)제이테크놀로지,35480,2013,4,91,32605,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,0.00,...,2002.46,3790.61,2045.11,1452.54,NaN,-0.84,-265.54,-1.27,NaN,1
282,(주)제이테크놀로지,35480,2014,4,91,32605,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,-24.34,...,2167.54,3824.83,4038.79,1734.02,NaN,28.40,0.00,33.44,NaN,1
283,(주)제이테크놀로지,35480,2014,4,91,32605,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,-24.34,...,2167.54,3824.83,4038.79,1734.02,NaN,28.40,0.00,33.44,NaN,1
284,(주)제이테크놀로지,35480,2015,4,91,189102,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
285,(주)제이테크놀로지,35480,2015,4,91,189102,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
286,(주)제이테크놀로지,35480,2016,4,91,189102,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
287,(주)제이테크놀로지,35480,2016,4,91,189102,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
288,(주)제이테크놀로지,35480,2017,4,91,189102,스포츠 및 오락관련 서비스업,1999-11-18,2019/12/12,0.00,...,2766.57,4233.85,643.04,1275.58,NaN,-5.67,0.00,-46.15,NaN,1

In [42]:
listed = listed.drop_duplicates()
listed

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,총자본증가율(IFRS연결),...,금융비용(IFRS연결)(백만원),임차료(IFRS연결)(백만원),세금과공과(IFRS연결)(백만원),감가상각비(IFRS연결)(백만원),종업원1인당 부가가치(IFRS연결)(백만원).1,총자본투자효율(IFRS연결).1,기계투자효율(IFRS연결).1,부가가치율(IFRS연결).1,종업원수(IFRS연결),label
0,(주)다이나믹디자인,145210,2015,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,-4.56,...,3589.40,0.0,0.0,14203.75,NaN,19.72,98.91,29.06,NaN,1
1,(주)다이나믹디자인,145210,2016,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,-12.91,...,0.00,0.0,0.0,0.00,NaN,-3.89,0.00,-5.57,NaN,1
2,(주)다이나믹디자인,145210,2017,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,-17.07,...,3990.88,0.0,0.0,11694.91,NaN,8.59,44.66,12.60,NaN,1
3,(주)대우건설,47040,2012,1,41,64101,종합 건설업,2001-03-23,NaN,4.13,...,94086.89,124047.0,54145.0,51212.00,NaN,13.73,2422.60,16.47,NaN,0
4,(주)대우건설,47040,2013,1,41,64101,종합 건설업,2001-03-23,NaN,2.67,...,86015.38,123239.0,62921.0,59003.00,NaN,4.00,731.03,4.62,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,한솔아이원스(주),114810,2017,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
399,한솔아이원스(주),114810,2018,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
400,한솔아이원스(주),114810,2019,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,0.00,...,3425.26,0.0,0.0,8607.60,NaN,20.66,165.10,32.15,NaN,1
401,한솔아이원스(주),114810,2020,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,-12.56,...,2408.62,0.0,0.0,7715.50,NaN,27.08,192.48,30.81,NaN,1
402,한솔아이원스(주),114810,2021,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,7.72,...,801.50,0.0,0.0,7955.52,NaN,43.96,353.48,48.15,NaN,1

In [43]:
listed_describe = listed.iloc[:, 8:-1].describe()
listed_describe

,총자본증가율(IFRS연결),유형자산증가율(IFRS연결),비유동생물자산증가율(IFRS연결),투자부동산증가율(IFRS연결),비유동자산증가율(IFRS연결),유동자산증가율(IFRS연결),재고자산증가율(IFRS연결),자기자본증가율(IFRS연결),매출액증가율(IFRS연결),정상영업이익증가율(IFRS연결),...,인건비(IFRS연결)(백만원),금융비용(IFRS연결)(백만원),임차료(IFRS연결)(백만원),세금과공과(IFRS연결)(백만원),감가상각비(IFRS연결)(백만원),종업원1인당 부가가치(IFRS연결)(백만원).1,총자본투자효율(IFRS연결).1,기계투자효율(IFRS연결).1,부가가치율(IFRS연결).1,종업원수(IFRS연결)
count,303.000000,303.000000,303.0,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,...,3.030000e+02,303.000000,303.000000,303.000000,303.000000,0.0,303.000000,3.030000e+02,303.000000,0.0
mean,8.352145,53.205380,0.0,18.818614,12.355677,12.184224,72.873762,8.396568,8.832310,389.985710,...,1.167735e+05,11125.398152,6913.940627,1012.850330,26577.891650,NaN,10.724092,-4.872517e+05,12.418020,NaN
std,58.687062,544.366406,0.0,171.031747,55.354065,97.950282,941.674268,55.659393,50.157848,6670.382376,...,3.221034e+05,51837.854147,49514.152587,5811.696985,73332.788063,NaN,18.752616,8.550602e+06,48.550316,NaN
min,-81.910000,-99.030000,0.0,-92.310000,-79.940000,-94.560000,-97.940000,-87.530000,-98.090000,-1542.640000,...,-2.386364e+04,-54363.000000,-194.640000,0.000000,0.000000,NaN,-95.660000,-1.488342e+08,-345.880000,NaN
25%,-4.540000,-6.955000,0.0,0.000000,-6.270000,-7.960000,-10.540000,-8.725000,-9.980000,0.000000,...,5.973115e+03,89.920000,0.000000,0.000000,1462.115000,NaN,3.425000,0.000000e+00,4.525000,NaN
50%,2.620000,0.000000,0.0,0.000000,1.010000,1.450000,0.000000,1.100000,1.120000,0.000000,...,1.502640e+04,1174.800000,0.000000,0.000000,3553.610000,NaN,12.300000,1.934400e+02,19.040000,NaN
75%,10.755000,9.210000,0.0,0.000000,16.940000,14.915000,16.245000,11.715000,14.840000,0.870000,...,5.777401e+04,3445.245000,180.645000,0.000000,10750.595000,NaN,22.690000,7.016850e+02,32.795000,NaN
max,922.640000,9039.490000,0.0,2133.950000,574.830000,1591.630000,16282.800000,499.400000,469.560000,116066.340000,...,2.055868e+06,459499.000000,602155.270000,62921.000000,550894.000000,NaN,62.640000,4.761613e+05,176.650000,NaN

# csv로 저장

In [44]:
listed.to_csv('../processed_data/재무비율.csv', index=False, encoding='UTF-8-sig')

In [45]:
listed_describe.to_csv('../processed_data/재무비율_기초통계량.csv', index=False, encoding='UTF-8-sig')