In [1]:
import pandas as pd

In [2]:
kospi_values = pd.read_excel('../data/raw_data/코스피_논문.xlsx')
kosdaq_values = pd.read_excel('../data/raw_data/코스닥_논문.xlsx')

In [3]:
listed = pd.concat([kospi_values, kosdaq_values], ignore_index=True)

In [4]:
listed[listed['거래소코드'] == 68270]

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,현금및현금성자산(*)(IFRS연결)(천원),...,재고자산감모손실(IFRS연결)(천원),외환차손(IFRS연결)(천원).1,외화환산손실(IFRS연결)(천원).1,지분법적용투자주식손상차손(IFRS연결)(천원),기부금(IFRS연결)(천원),투자자산처분손실(IFRS연결)(천원),보상비(IFRS연결)(천원),법인세추납액(IFRS연결)(천원),전기오류수정손실(IFRS연결)(천원),법인세비용(IFRS연결)(천원)
1394,(주)셀트리온,68270,2012/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,5.315923e+07,...,0.0,537533.0,261983.0,0.0,0.0,0.0,0.0,0.0,0.0,13135596.0
1395,(주)셀트리온,68270,2013/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,8.075387e+07,...,0.0,1700561.0,730.0,0.0,0.0,0.0,0.0,0.0,0.0,13209769.0
1396,(주)셀트리온,68270,2014/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,1.087524e+08,...,0.0,2541254.0,17669.0,0.0,0.0,0.0,0.0,0.0,0.0,31629576.0
1397,(주)셀트리온,68270,2015/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,1.499261e+08,...,0.0,3096701.0,21271.0,0.0,0.0,0.0,0.0,0.0,0.0,4829113.0
1398,(주)셀트리온,68270,2016/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,2.684081e+08,...,0.0,2888315.0,215635.0,0.0,0.0,0.0,0.0,0.0,0.0,48014632.0
1399,(주)셀트리온,68270,2017/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,4.192057e+08,...,0.0,2528208.0,151133.0,0.0,0.0,0.0,0.0,0.0,0.0,105346399.0
1400,(주)셀트리온,68270,2018/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,4.105476e+08,...,0.0,7376642.0,417839.0,0.0,0.0,0.0,0.0,0.0,0.0,64162718.0
1401,(주)셀트리온,68270,2019/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,5.461376e+08,...,0.0,3354249.0,2168770.0,0.0,0.0,0.0,0.0,0.0,0.0,80588584.0
1402,(주)셀트리온,68270,2020/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,6.842939e+08,...,0.0,7322427.0,4431102.0,0.0,0.0,0.0,0.0,0.0,0.0,131449106.0
1403,(주)셀트리온,68270,2021/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,1.188326e+09,...,0.0,7751877.0,1913004.0,0.0,0.0,0.0,0.0,0.0,0.0,155530434.0
1404,(주)셀트리온,68270,2022/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,5.511867e+08,...,0.0,23704271.0,1644512.0,0.0,0.0,0.0,0.0,0.0,0.0,94826673.0
1405,(주)셀트리온,68270,2023/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,5.646117e+08,...,0.0,16415776.0,3347883.0,0.0,0.0,0.0,0.0,0.0,0.0,131389280.0

In [6]:
listed.shape

(25559, 193)

In [7]:
listed.drop_duplicates('거래소코드').shape

(2364, 193)

# 결산월이 12월인 기업만

In [8]:
listed['회계년도'] = pd.to_datetime(listed['회계년도'], format='%Y/%m')
listed = listed[listed['회계년도'].dt.month == 12]

In [9]:
listed.shape

(25383, 193)

In [10]:
listed.drop_duplicates('거래소코드').shape

(2363, 193)

# 특수 목적 회사 drop
- 1차 통계청 한국표준산업분류(KSIC) 기준으로 제거
    - K. 금융및보험업(64~66)
        - 64. 금융업
        - 65. 보험및연금업
        - 66. 금융및보험관련서비스업
- 2차 키워드 제거
    - 인베스트|투자|금융|보험|캐피탈|특수목적|프로젝트|문화산업

In [11]:
listed = listed[~listed['통계청 한국표준산업분류 코드 10차(대분류)'].isin([64, 65, 66])]
listed = listed[~listed['회사명'].str.contains('인베스트|투자|금융|보험|캐피탈|특수목적|프로젝트|문화산업')]

In [12]:
listed.shape

(25217, 193)

In [13]:
listed.drop_duplicates('거래소코드').shape

(2348, 193)

# 이전 상장에 따른 중복 데이터 제거

In [14]:
# Step 1: 소속코드가 4와 1을 모두 가지는 거래소코드 찾기
# 거래소코드별로 그룹화하여 소속코드를 집합으로 만든 후, 조건을 만족하는 거래소코드를 필터링합니다.
grouped = listed.groupby('거래소코드')['소속코드'].apply(set)
target_codes = grouped[grouped.apply(lambda x: {1, 4}.issubset(x))].index
target_codes

Index([], dtype='int64', name='거래소코드')

In [15]:
# Step 2: 소속코드가 4이고 상장폐지일이 존재하는 행 제거
listed = listed[~((listed['거래소코드'].isin(target_codes)) & (listed['소속코드'] == 4) & (~listed['상장폐지일'].isna()))]

In [16]:
listed.shape

(25217, 193)

In [17]:
listed.drop_duplicates('거래소코드').shape

(2348, 193)

# 상장 이전 데이터 제거

In [18]:
listed[['회계년도', '상장일']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 25217 entries, 0 to 25558
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회계년도    25217 non-null  datetime64[ns]
 1   상장일     25217 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 591.0+ KB

In [19]:
listed['상장일'] = pd.to_datetime(listed['상장일'], format='%Y/%m/%d')

In [20]:
# 회계년도가 상장년도 이전(미만)인 데이터 제거
listed[listed['회계년도'].dt.year < listed['상장일'].dt.year][['회사명', '거래소코드', '회계년도', '상장일']]

             회사명   거래소코드       회계년도        상장일
140      (주)경보제약  214390 2012-12-01 2015-06-29
141      (주)경보제약  214390 2013-12-01 2015-06-29
142      (주)경보제약  214390 2014-12-01 2015-06-29
224    (주)금호에이치티  214330 2012-12-01 2015-11-11
225    (주)금호에이치티  214330 2013-12-01 2015-11-11
...          ...     ...        ...        ...
25501  휴림네트웍스(주)  192410 2012-12-01 2014-08-14
25502  휴림네트웍스(주)  192410 2013-12-01 2014-08-14
25535      휴젤(주)  145020 2012-12-01 2015-12-24
25536      휴젤(주)  145020 2013-12-01 2015-12-24
25537      휴젤(주)  145020 2014-12-01 2015-12-24

[3630 rows x 4 columns]

In [21]:
# 회계년도가 상장년도 이전(미만)인 데이터 제거
listed = listed[listed['회계년도'].dt.year >= listed['상장일'].dt.year]

In [22]:
listed.shape

(21587, 193)

In [23]:
listed.drop_duplicates('거래소코드').shape

(2293, 193)

# merge

### 회계 감리 지적 기업 csv 불러오기

In [24]:
fraud = pd.read_csv('../data/raw_data/회계 감리 지적 기업.csv')

In [25]:
print('fraud 로우 수: ', fraud.shape)
print('fraud 기업 수: ', fraud.drop_duplicates('거래소코드').shape)

fraud 로우 수:  (498, 5)
fraud 기업 수:  (138, 5)

In [26]:
# 중복 행 제거 후 인덱스 리셋
fraud = fraud.drop_duplicates().reset_index(drop=True)

In [27]:
print('fraud 로우 수: ', fraud.shape)
print('fraud 기업 수: ', fraud.drop_duplicates('거래소코드').shape)

fraud 로우 수:  (445, 5)
fraud 기업 수:  (138, 5)

### 기준이 되는 데이터 타입 맞추기

In [28]:
listed[['거래소코드', '회계년도']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 21587 entries, 0 to 25558
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   21587 non-null  int64
 1   회계년도    21587 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 505.9 KB

In [29]:
fraud[['거래소코드', '회계년도']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   445 non-null    int64
 1   회계년도    445 non-null    int64
dtypes: int64(2)
memory usage: 7.1 KB

In [30]:
listed['회계년도'] = listed['회계년도'].dt.year

### pd.merge(listed, fraud, on=['거래소코드', '회계년도'])

In [31]:
listed = pd.merge(listed, fraud, on=['거래소코드', '회계년도'])

In [32]:
listed.shape

(337, 196)

In [33]:
listed.drop_duplicates('거래소코드').shape

(107, 196)

In [34]:
print(listed[listed['기업유형'] == '코스피'].shape)
print(listed[listed['기업유형'] == '코스닥'].shape)

(125, 196)
(212, 196)

In [35]:
print(listed[listed['기업유형'] == '코스피'].drop_duplicates('거래소코드').shape)
print(listed[listed['기업유형'] == '코스닥'].drop_duplicates('거래소코드').shape)

(38, 196)
(69, 196)

# 정리

In [36]:
listed.columns

Index(['회사명_x', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '현금및현금성자산(*)(IFRS연결)(천원)',
       ...
       '지분법적용투자주식손상차손(IFRS연결)(천원)', '기부금(IFRS연결)(천원)', '투자자산처분손실(IFRS연결)(천원)',
       '보상비(IFRS연결)(천원)', '법인세추납액(IFRS연결)(천원)', '전기오류수정손실(IFRS연결)(천원)',
       '법인세비용(IFRS연결)(천원)', '회사명_y', '기업유형', '이익 과대계상 (비용 과소계상)'],
      dtype='object', length=196)

In [37]:
listed = listed.drop(columns = '회사명_y')
listed.columns

Index(['회사명_x', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '현금및현금성자산(*)(IFRS연결)(천원)',
       ...
       '외화환산손실(IFRS연결)(천원).1', '지분법적용투자주식손상차손(IFRS연결)(천원)', '기부금(IFRS연결)(천원)',
       '투자자산처분손실(IFRS연결)(천원)', '보상비(IFRS연결)(천원)', '법인세추납액(IFRS연결)(천원)',
       '전기오류수정손실(IFRS연결)(천원)', '법인세비용(IFRS연결)(천원)', '기업유형',
       '이익 과대계상 (비용 과소계상)'],
      dtype='object', length=195)

In [38]:
listed = listed.rename(columns={'회사명_x': '회사명', '이익 과대계상 (비용 과소계상)': 'label'})
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '현금및현금성자산(*)(IFRS연결)(천원)',
       ...
       '외화환산손실(IFRS연결)(천원).1', '지분법적용투자주식손상차손(IFRS연결)(천원)', '기부금(IFRS연결)(천원)',
       '투자자산처분손실(IFRS연결)(천원)', '보상비(IFRS연결)(천원)', '법인세추납액(IFRS연결)(천원)',
       '전기오류수정손실(IFRS연결)(천원)', '법인세비용(IFRS연결)(천원)', '기업유형', 'label'],
      dtype='object', length=195)

In [39]:
listed_describe = listed.iloc[:, 8:-1].describe()

# csv로 저장

In [ ]:
# listed.to_csv('../data/processed_data/재무계정.csv', index=False, encoding='UTF-8-sig')

In [ ]:
# listed_describe.to_csv('../data/processed_data/재무계정_기초통계량.csv', index=False, encoding='UTF-8-sig')