In [1]:
import pandas as pd

In [2]:
kospi_ratio = pd.read_excel('../data/raw_data/코스피_재무비율.xlsx')
kosdaq_ratio = pd.read_excel('../data/raw_data/코스닥_재무비율.xlsx')

In [3]:
listed = pd.concat([kospi_ratio, kosdaq_ratio], ignore_index=True)

In [4]:
listed[listed['거래소코드'] == 68270]

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,총자본증가율(IFRS연결),...,인건비(IFRS연결)(백만원),금융비용(IFRS연결)(백만원),임차료(IFRS연결)(백만원),세금과공과(IFRS연결)(백만원),감가상각비(IFRS연결)(백만원),종업원1인당 부가가치(IFRS연결)(백만원).1,총자본투자효율(IFRS연결).1,기계투자효율(IFRS연결).1,부가가치율(IFRS연결).1,종업원수(IFRS연결)
1394,(주)셀트리온,68270,2012/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,0.00,...,56122.23,9244.68,1026.32,946.04,36679.19,NaN,16.82,2440.15,83.21,NaN
1395,(주)셀트리온,68270,2013/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,14.17,...,47863.33,21608.50,1044.44,1100.75,47710.47,NaN,11.87,2214.09,103.78,NaN
1396,(주)셀트리온,68270,2014/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,17.38,...,75196.20,28158.55,1898.77,2093.42,76278.81,NaN,14.33,2358.47,70.64,NaN
1397,(주)셀트리온,68270,2015/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,18.34,...,84885.07,22657.19,2211.66,2218.44,82174.08,NaN,13.00,480.46,59.21,NaN
1398,(주)셀트리온,68270,2016/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,4.93,...,101885.24,14297.96,2242.57,3546.02,84773.55,NaN,14.02,138.42,60.27,NaN
1399,(주)셀트리온,68270,2017/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,14.23,...,129910.64,9133.63,2502.06,3881.94,97950.27,NaN,22.05,271.63,76.54,NaN
1400,(주)셀트리온,68270,2018/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,6.35,...,165997.87,3948.96,2838.20,4763.27,124826.47,NaN,17.24,247.20,61.50,NaN
1401,(주)셀트리온,68270,2019/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,10.18,...,209351.25,-1228.84,1101.15,5584.20,153719.62,NaN,19.45,259.78,66.51,NaN
1402,(주)셀트리온,68270,2020/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,30.07,...,243184.58,1537.81,0.00,5846.31,173849.80,NaN,21.54,365.66,58.49,NaN
1403,(주)셀트리온,68270,2021/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,13.03,...,252822.59,1602.49,0.00,6821.75,214159.74,NaN,21.62,407.25,64.17,NaN
1404,(주)셀트리온,68270,2022/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,3.83,...,276427.54,-6943.42,0.00,7223.42,226390.02,NaN,19.17,425.62,49.44,NaN
1405,(주)셀트리온,68270,2023/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,238.06,...,304339.57,-9466.72,0.00,7919.81,245827.33,NaN,6.12,521.69,56.04,NaN
12842,(주)셀트리온,68270,2012/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,0.00,...,56122.23,9244.68,1026.32,946.04,36679.19,NaN,16.82,2440.15,83.21,NaN
12843,(주)셀트리온,68270,2013/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,14.17,...,47863.33,21608.50,1044.44,1100.75,47710.47,NaN,11.87,2214.09,103.78,NaN
12844,(주)셀트리온,68270,2014/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,17.38,...,75196.20,28158.55,1898.77,2093.42,76278.81,NaN,14.33,2358.47,70.64,NaN
12845,(주)셀트리온,68270,2015/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,18.34,...,84885.07,22657.19,2211.66,2218.44,82174.08,NaN,13.00,480.46,59.21,NaN
12846,(주)셀트리온,68270,2016/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,9.96,...,99333.59,10847.19,2242.57,3546.02,88675.33,NaN,14.36,148.62,64.72,NaN

In [5]:
listed.shape

(27650, 156)

In [6]:
listed.drop_duplicates('거래소코드').shape

(2677, 156)

# 결산월이 12월인 기업만

In [7]:
listed['회계년도'] = pd.to_datetime(listed['회계년도'], format='%Y/%m')
listed = listed[listed['회계년도'].dt.month == 12]

In [8]:
listed.shape

(27235, 156)

In [9]:
listed.drop_duplicates('거래소코드').shape

(2653, 156)

# 특수 목적 회사 drop
- 1차 통계청 한국표준산업분류(KSIC) 기준으로 제거
    - K. 금융및보험업(64~66)
        - 64. 금융업
        - 65. 보험및연금업
        - 66. 금융및보험관련서비스업
- 2차 키워드 제거
    - 인베스트|투자|금융|보험|캐피탈|특수목적|프로젝트|문화산업

In [10]:
listed = listed[~listed['통계청 한국표준산업분류 코드 10차(대분류)'].isin([64, 65, 66])]
listed = listed[~listed['회사명'].str.contains('인베스트|투자|금융|보험|캐피탈|특수목적|프로젝트|문화산업')]

In [11]:
listed.shape

(27069, 156)

In [12]:
listed.drop_duplicates('거래소코드').shape

(2638, 156)

# 이전 상장에 따른 중복 데이터 제거

In [13]:
# Step 1: 소속코드가 4와 1을 모두 가지는 거래소코드 찾기
# 거래소코드별로 그룹화하여 소속코드를 집합으로 만든 후, 조건을 만족하는 거래소코드를 필터링합니다.
grouped = listed.groupby('거래소코드')['소속코드'].apply(set)
target_codes = grouped[grouped.apply(lambda x: {1, 4}.issubset(x))].index
target_codes

Index([  3670,  22100,  26960,  30190,  34230,  35510,  35720,  36420,  66970,
        68270,  90460,  97520, 100090, 108320, 178920, 192080],
      dtype='int64', name='거래소코드')

In [14]:
# Step 2: 소속코드가 4이고 상장폐지일이 존재하는 행 제거
listed = listed[~((listed['거래소코드'].isin(target_codes)) & (listed['소속코드'] == 4) & (~listed['상장폐지일'].isna()))]

In [15]:
listed.shape

(26941, 156)

In [16]:
listed.drop_duplicates('거래소코드').shape

(2638, 156)

# 상장 이전 데이터 제거

In [17]:
listed[['회계년도', '상장일']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 26941 entries, 0 to 27649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회계년도    26941 non-null  datetime64[ns]
 1   상장일     26941 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 631.4+ KB

In [18]:
listed['상장일'] = pd.to_datetime(listed['상장일'], format='%Y/%m/%d')

In [19]:
# 회계년도가 상장년도 이전(미만)인 데이터 제거
listed[listed['회계년도'].dt.year < listed['상장일'].dt.year][['회사명', '거래소코드', '회계년도', '상장일']]

             회사명   거래소코드       회계년도        상장일
140      (주)경보제약  214390 2012-12-01 2015-06-29
141      (주)경보제약  214390 2013-12-01 2015-06-29
142      (주)경보제약  214390 2014-12-01 2015-06-29
224    (주)금호에이치티  214330 2012-12-01 2015-11-11
225    (주)금호에이치티  214330 2013-12-01 2015-11-11
...          ...     ...        ...        ...
27592  휴림네트웍스(주)  192410 2012-12-01 2014-08-14
27593  휴림네트웍스(주)  192410 2013-12-01 2014-08-14
27626      휴젤(주)  145020 2012-12-01 2015-12-24
27627      휴젤(주)  145020 2013-12-01 2015-12-24
27628      휴젤(주)  145020 2014-12-01 2015-12-24

[3937 rows x 4 columns]

In [20]:
# 회계년도가 상장년도 이전(미만)인 데이터 제거
listed = listed[listed['회계년도'].dt.year >= listed['상장일'].dt.year]

In [21]:
listed.shape

(23004, 156)

In [22]:
listed.drop_duplicates('거래소코드').shape

(2579, 156)

# merge

### 회계 감리 지적 기업 csv 불러오기

In [23]:
fraud = pd.read_csv('../data/raw_data/회계 감리 지적 기업.csv')

In [24]:
print('fraud 로우 수: ', fraud.shape)
print('fraud 기업 수: ', fraud.drop_duplicates('거래소코드').shape)

fraud 로우 수:  (498, 5)
fraud 기업 수:  (138, 5)

In [25]:
# 중복 행 제거 후 인덱스 리셋
fraud = fraud.drop_duplicates().reset_index(drop=True)

In [26]:
print('fraud 로우 수: ', fraud.shape)
print('fraud 기업 수: ', fraud.drop_duplicates('거래소코드').shape)

fraud 로우 수:  (445, 5)
fraud 기업 수:  (138, 5)

### 기준이 되는 데이터 타입 맞추기

In [27]:
listed[['거래소코드', '회계년도']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 23004 entries, 0 to 27649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   23004 non-null  int64
 1   회계년도    23004 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 539.2 KB

In [28]:
fraud[['거래소코드', '회계년도']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   445 non-null    int64
 1   회계년도    445 non-null    int64
dtypes: int64(2)
memory usage: 7.1 KB

In [29]:
listed['회계년도'] = listed['회계년도'].dt.year

### pd.merge(listed, fraud, on=['거래소코드', '회계년도'])

In [30]:
listed = pd.merge(listed, fraud, on=['거래소코드', '회계년도'])

In [31]:
listed.shape

(400, 159)

In [32]:
listed.drop_duplicates('거래소코드').shape

(130, 159)

In [33]:
print(listed[listed['기업유형'] == '코스피'].shape)
print(listed[listed['기업유형'] == '코스닥'].shape)

(125, 159)
(275, 159)

In [34]:
print(listed[listed['기업유형'] == '코스피'].drop_duplicates('거래소코드').shape)
print(listed[listed['기업유형'] == '코스닥'].drop_duplicates('거래소코드').shape)

(38, 159)
(92, 159)

# 정리

In [35]:
listed.columns

Index(['회사명_x', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '세금과공과(IFRS연결)(백만원)', '감가상각비(IFRS연결)(백만원)',
       '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1', '기계투자효율(IFRS연결).1',
       '부가가치율(IFRS연결).1', '종업원수(IFRS연결)', '회사명_y', '기업유형',
       '이익 과대계상 (비용 과소계상)'],
      dtype='object', length=159)

In [36]:
listed = listed.drop(columns = '회사명_y')
listed.columns

Index(['회사명_x', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '임차료(IFRS연결)(백만원)', '세금과공과(IFRS연결)(백만원)', '감가상각비(IFRS연결)(백만원)',
       '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1', '기계투자효율(IFRS연결).1',
       '부가가치율(IFRS연결).1', '종업원수(IFRS연결)', '기업유형', '이익 과대계상 (비용 과소계상)'],
      dtype='object', length=158)

In [37]:
listed = listed.rename(columns={'회사명_x': '회사명', '이익 과대계상 (비용 과소계상)': 'label'})
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '임차료(IFRS연결)(백만원)', '세금과공과(IFRS연결)(백만원)', '감가상각비(IFRS연결)(백만원)',
       '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1', '기계투자효율(IFRS연결).1',
       '부가가치율(IFRS연결).1', '종업원수(IFRS연결)', '기업유형', 'label'],
      dtype='object', length=158)

In [38]:
listed_describe = listed.iloc[:, 8:-1].describe()

# csv로 저장

In [39]:
# listed.to_csv('../data/processed_data/재무비율.csv', index=False, encoding='UTF-8-sig')

In [41]:
# listed_describe.to_csv('../data/processed_data/재무비율_기초통계량.csv', index=False, encoding='UTF-8-sig')