In [1]:
import pandas as pd

In [2]:
statements = pd.read_csv('../data/processed_data/재무지표.csv')
listed = pd.read_csv('../data/processed_data/개별재무지표.csv')

---
### 전체에 대해서 값이 없는 행(기업) 탐색

In [3]:
# 모든 컬럼에서 값이 없는(결측치) 행을 찾기
empty_rows = statements[statements.iloc[:, 9:-1].isnull().all(axis=1)]

print(len(empty_rows.drop_duplicates('회사명')['회사명']))
print('------------------------------------------')
print(empty_rows.drop_duplicates('회사명')['회사명'])

35
------------------------------------------
7          (주)대호에이엘
12       (주)신화다이나믹스
74          백광산업(주)
78      삼성바이오로직스(주)
95        코스모신소재(주)
98         코스모화학(주)
105       한국전력기술(주)
114      한솔아트원제지(주)
131           (주)광무
144          (주)뉴보텍
156        (주)디지털대성
158          (주)메지온
165           (주)삼일
167           (주)상보
173         (주)서울제약
195          (주)시큐브
211           (주)씨젠
227        (주)에스에스알
248         (주)와이어블
276      (주)제이테크놀로지
288     (주)케이바이오컴퍼니
293    (주)케이에스인더스트리
298     (주)케이지모빌리언스
300      (주)케이지이니시스
308        (주)타이거일렉
311       (주)티에스넥스젠
330        (주)한진피앤씨
336         경남제약(주)
341       대한그린파워(주)
343          더라미(주)
349         디에스티(주)
352        삼영이엔씨(주)
358        씨앤티85(주)
372       우양에이치씨(주)
383       한솔아이원스(주)
Name: 회사명, dtype: object

In [4]:
print(empty_rows.shape)
print(empty_rows.drop_duplicates('회사명').shape)

(89, 194)
(35, 194)

In [61]:
# empty_rows.to_csv('재무지표null.csv',index=False, encoding='UTF-8-sig')

In [5]:
# 결측치 기업들 feature 컬럼 제외
df = empty_rows.iloc[:, :9]
df['label'] = empty_rows['label']

df.reset_index(drop=True, inplace=True)
df.head()

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,label
0,(주)대호에이엘,69460,2014,1,24,32402,1차 금속 제조업,2002-11-11,NaN,1
1,(주)신화다이나믹스,1770,2012,1,24,32401,1차 금속 제조업,1988-11-23,NaN,1
2,(주)신화다이나믹스,1770,2013,1,24,32401,1차 금속 제조업,1988-11-23,NaN,1
3,(주)신화다이나믹스,1770,2014,1,24,32401,1차 금속 제조업,1988-11-23,NaN,1
4,(주)신화다이나믹스,1770,2015,1,24,32401,1차 금속 제조업,1988-11-23,NaN,1

### 결측치 기업 개별재무비율로 대체

In [6]:
import numpy as np

In [7]:
statements
listed

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,현금및현금성자산(*)(IFRS)(천원),...,외환차손(IFRS)(천원).1,외화환산손실(IFRS)(천원).1,지분법적용투자주식손상차손(IFRS)(천원),기부금(IFRS)(천원),투자자산처분손실(IFRS)(천원),보상비(IFRS)(천원),법인세추납액(IFRS)(천원),전기오류수정손실(IFRS)(천원),법인세비용(IFRS)(천원),label
0,(주)다이나믹디자인,145210,2015,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,5547269.0,...,2136822.0,2881977.0,0.0,0.0,0.0,0.0,0.0,0.0,1032733.0,1
1,(주)다이나믹디자인,145210,2016,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,7869589.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9539579.0,1
2,(주)다이나믹디자인,145210,2017,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,1514457.0,...,2365382.0,2147683.0,0.0,0.0,0.0,0.0,0.0,0.0,-4431729.0,1
3,(주)대우건설,47040,2012,1,41,64101,종합 건설업,2001-03-23,NaN,323571800.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,56151157.0,0
4,(주)대우건설,47040,2013,1,41,64101,종합 건설업,2001-03-23,NaN,324046180.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-127568854.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,한솔아이원스(주),114810,2017,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,9892897.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,553201.0,1
388,한솔아이원스(주),114810,2018,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,5510953.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1544374.0,1
389,한솔아이원스(주),114810,2019,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,12307845.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2093131.0,1
390,한솔아이원스(주),114810,2020,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,9272814.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2536049.0,1
391,한솔아이원스(주),114810,2021,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,16487692.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10788434.0,1

In [8]:
listed = listed.rename(columns={'공구,기구,비품(IFRS)(천원)': '공구', '조리법, 공식, 모형, 설계 및 시제품(IFRS)(천원)': '조리법', '유형,리스자산처분이익(IFRS)(천원)': '유형'})

In [9]:
def clean_column_name(col_name):
    col_name = col_name.replace('(*)', '').replace('(원)', '').replace('(백만원)', '')
    col_name = col_name.replace('[제조]', '')
    col_name = col_name.replace('(천원)', '')
    col_name = col_name.replace('(IFRS연결)', '(IFRS)')
    # col_name = col_name.replace('.1', '')

    return col_name.strip()  


listed.columns = [clean_column_name(col) for col in listed.columns]
statements.columns = [clean_column_name(col) for col in statements.columns]

In [10]:
listed['공구']

0       5699084.0
1             0.0
2       5929846.0
3      51844000.0
4      49423000.0
          ...
387    11539743.0
388    13424068.0
389    13004596.0
390    13598336.0
391    13859285.0
Name: 공구, Length: 392, dtype: float64

In [11]:
statements.replace(0, np.nan, inplace=True)

In [12]:
statements.set_index(['회사명', '거래소코드', '회계년도'], inplace=True)
listed.set_index(['회사명', '거래소코드', '회계년도'], inplace=True)

In [13]:
df1, df2 = statements.align(listed, join='left')

In [14]:
result = df1.fillna(df2)

In [23]:
result = result.reset_index()

In [24]:
result

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,현금및현금성자산(IFRS),...,외환차손(IFRS).1,외화환산손실(IFRS).1,지분법적용투자주식손상차손(IFRS),기부금(IFRS),투자자산처분손실(IFRS),보상비(IFRS),법인세추납액(IFRS),전기오류수정손실(IFRS),법인세비용(IFRS),label
0,(주)다이나믹디자인,145210,2015,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,10376890.0,...,2136822.0,2881977.0,0.0,0.0,0.0,0.0,0.0,0.0,184992.0,1.0
1,(주)다이나믹디자인,145210,2016,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,15192647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7248212.0,1.0
2,(주)다이나믹디자인,145210,2017,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,6564156.0,...,2365382.0,2147683.0,0.0,0.0,0.0,0.0,0.0,0.0,-696299.0,1.0
3,(주)대우건설,47040,2012,1,41,64101,종합 건설업,2001-03-23,NaN,388440274.0,...,38000000.0,23052000.0,0.0,0.0,0.0,0.0,0.0,0.0,54918791.0,0.0
4,(주)대우건설,47040,2013,1,41,64101,종합 건설업,2001-03-23,NaN,409596263.0,...,34514000.0,23702000.0,0.0,0.0,0.0,0.0,0.0,0.0,-121688653.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,한솔아이원스(주),114810,2017,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,9892897.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,553201.0,1.0
388,한솔아이원스(주),114810,2018,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,5510953.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1544374.0,1.0
389,한솔아이원스(주),114810,2019,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,12310161.0,...,821838.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2093131.0,1.0
390,한솔아이원스(주),114810,2020,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,9274990.0,...,799836.0,2359896.0,0.0,0.0,0.0,0.0,0.0,0.0,2536049.0,1.0
391,한솔아이원스(주),114810,2021,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,16490063.0,...,375920.0,152568.0,0.0,0.0,0.0,0.0,0.0,0.0,10788434.0,1.0

In [25]:
result.columns[result.isnull().sum() > 0]

Index(['상장폐지일', '상각후원가측정 유가증권(IFRS)', '임대(주택)자산(IFRS)', '임차개량자산(IFRS)',
       '배출권자산(IFRS)', '당기법인세부채(미지급법인세)(IFRS)', '이자수익(IFRS)', '배당금수익(IFRS)',
       '사채상환이익(IFRS)', '이자비용(IFRS)', '기타대손상각비(IFRS)'],
      dtype='object')

In [26]:
listed = listed.reset_index()
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '현금및현금성자산(IFRS)',
       ...
       '외환차손(IFRS).1', '외화환산손실(IFRS).1', '지분법적용투자주식손상차손(IFRS)', '기부금(IFRS)',
       '투자자산처분손실(IFRS)', '보상비(IFRS)', '법인세추납액(IFRS)', '전기오류수정손실(IFRS)',
       '법인세비용(IFRS)', 'label'],
      dtype='object', length=194)

In [27]:
statements = statements.reset_index()
statements.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '현금및현금성자산(IFRS)',
       ...
       '외환차손(IFRS).1', '외화환산손실(IFRS).1', '지분법적용투자주식손상차손(IFRS)', '기부금(IFRS)',
       '투자자산처분손실(IFRS)', '보상비(IFRS)', '법인세추납액(IFRS)', '전기오류수정손실(IFRS)',
       '법인세비용(IFRS)', 'label'],
      dtype='object', length=194)

In [28]:
cols_to_front = ['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일']
cols_to_end = ['label']
new_columns_order = cols_to_front + [col for col in statements.columns if col not in (cols_to_front + cols_to_end)] + cols_to_end
result = result[new_columns_order]

In [29]:
result

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,현금및현금성자산(IFRS),...,외환차손(IFRS).1,외화환산손실(IFRS).1,지분법적용투자주식손상차손(IFRS),기부금(IFRS),투자자산처분손실(IFRS),보상비(IFRS),법인세추납액(IFRS),전기오류수정손실(IFRS),법인세비용(IFRS),label
0,(주)다이나믹디자인,145210,2015,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,10376890.0,...,2136822.0,2881977.0,0.0,0.0,0.0,0.0,0.0,0.0,184992.0,1.0
1,(주)다이나믹디자인,145210,2016,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,15192647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7248212.0,1.0
2,(주)다이나믹디자인,145210,2017,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,6564156.0,...,2365382.0,2147683.0,0.0,0.0,0.0,0.0,0.0,0.0,-696299.0,1.0
3,(주)대우건설,47040,2012,1,41,64101,종합 건설업,2001-03-23,NaN,388440274.0,...,38000000.0,23052000.0,0.0,0.0,0.0,0.0,0.0,0.0,54918791.0,0.0
4,(주)대우건설,47040,2013,1,41,64101,종합 건설업,2001-03-23,NaN,409596263.0,...,34514000.0,23702000.0,0.0,0.0,0.0,0.0,0.0,0.0,-121688653.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,한솔아이원스(주),114810,2017,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,9892897.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,553201.0,1.0
388,한솔아이원스(주),114810,2018,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,5510953.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1544374.0,1.0
389,한솔아이원스(주),114810,2019,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,12310161.0,...,821838.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2093131.0,1.0
390,한솔아이원스(주),114810,2020,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,9274990.0,...,799836.0,2359896.0,0.0,0.0,0.0,0.0,0.0,0.0,2536049.0,1.0
391,한솔아이원스(주),114810,2021,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,16490063.0,...,375920.0,152568.0,0.0,0.0,0.0,0.0,0.0,0.0,10788434.0,1.0

In [30]:
# result.to_csv('재무지표_개별로대체_1002.csv',index=False,encoding='UTF-8-sig')

전체가 na인 컬럼들 제거

In [ ]:
# result_cleaned = result.dropna(axis=1, how='all')
# result_cleaned

In [31]:
cols_to_drop = result.columns[result.isna().all()]
result_cleaned = result.drop(columns=cols_to_drop)

In [32]:
cols_to_drop

Index([], dtype='object')

채워줬음에도 전체가 0인 컬럼들 제거하기

In [33]:
cols_to_drop2 = result.columns[(result==0).all()]
df_cleaned = result.drop(columns=cols_to_drop2)

In [35]:
cols_to_drop2

Index(['리스개량자산(IFRS)', '유형탐사평가자산(IFRS)', '임대주택용지(IFRS)', '미완성임대주택(IFRS)',
       '임대주택토지(IFRS)', '완성임대주택(IFRS)', '임대주택(IFRS)', '기타임대주택자산(IFRS)',
       '제호와 출판표제(IFRS)', '조리법', '*특수관계자장기매출채권(IFRS)', '장기분양미수금(IFRS)',
       '*특수관계자 장기미수금(IFRS)', '장기임대미수금(IFRS)', '장기임대주택채권(IFRS)',
       '(추정공사손실)(IFRS)', '배당건설이자(IFRS)', '파생상품평가이익(IFRS)', '파생상품평가손실(IFRS)',
       '퇴직급여적립금(IFRS)', '(대체)(IFRS)', '미분양주택관리비(IFRS)', '투자자산처분이익(IFRS)', '유형',
       '무형자산처분이익(IFRS)', '법인세환급액(IFRS)', '재고자산감모손실(IFRS)',
       '지분법적용투자주식손상차손(IFRS)', '기부금(IFRS)', '투자자산처분손실(IFRS)', '법인세추납액(IFRS)',
       '전기오류수정손실(IFRS)'],
      dtype='object')

In [36]:
# df_cleaned.to_csv('../data/processed_data/재무지표_열제거_1002.csv', index=False, encoding='UTF-8-sig')

행이 모두 nan 값이면 지우는 코드

In [37]:

# 9번째 컬럼부터 마지막 전까지 값이 모두 NaN인 행 찾기
rows_to_remove = df_cleaned[df_cleaned.iloc[:, 9:-1].isna().all(axis=1)]

# 삭제된 행의 회사명 저장
removed_company_names = rows_to_remove.iloc[:, 0]  # 0번째 컬럼 (회사명)

# 새로운 데이터프레임에서 지운 행 제거
rows_to_keep = df_cleaned[~df_cleaned.iloc[:, 9:-1].isna().all(axis=1)]

# 결과 출력
print("삭제된 행의 회사명:")
print(removed_company_names.tolist())
print("\n새로운 데이터프레임:")
print(rows_to_keep)

삭제된 행의 회사명:
[]

새로운 데이터프레임:
            회사명   거래소코드  회계년도  소속코드  통계청 한국표준산업분류 코드 10차(대분류)   산업코드  \
0    (주)다이나믹디자인  145210  2015     1                        29  32902
1    (주)다이나믹디자인  145210  2016     1                        29  32902
2    (주)다이나믹디자인  145210  2017     1                        29  32902
3       (주)대우건설   47040  2012     1                        41  64101
4       (주)대우건설   47040  2013     1                        41  64101
..          ...     ...   ...   ...                       ...    ...
387   한솔아이원스(주)  114810  2017     5                        29  32902
388   한솔아이원스(주)  114810  2018     5                        29  32902
389   한솔아이원스(주)  114810  2019     5                        29  32902
390   한솔아이원스(주)  114810  2020     5                        29  32902
391   한솔아이원스(주)  114810  2021     5                        29  32902

                   산업명         상장일 상장폐지일  현금및현금성자산(IFRS)  ...  전기오류수정이익(IFRS)  \
0      기타 기계 및 장비 제조업   2015-03-19   NaN      10376890.0  ...             0.0
1      기타 기계 및 장비 제조업   2015-03-19   NaN      15192647.0  ...             0.0
2      기타 기계 및 장비 제조업   2015-03-19   NaN       6564156.0  ...             0.0
3              종합 건설업   2001-03-23   NaN     388440274.0  ...             0.0
4              종합 건설업   2001-03-23   NaN     409596263.0  ...             0.0
..                 ...         ...   ...             ...  ...             ...
387    기타 기계 및 장비 제조업   2013-02-07   NaN       9892897.0  ...             0.0
388    기타 기계 및 장비 제조업   2013-02-07   NaN       5510953.0  ...             0.0
389    기타 기계 및 장비 제조업   2013-02-07   NaN      12310161.0  ...             0.0
390    기타 기계 및 장비 제조업   2013-02-07   NaN       9274990.0  ...             0.0
391    기타 기계 및 장비 제조업   2013-02-07   NaN      16490063.0  ...             0.0

     채무면제이익(IFRS)  보험차익(IFRS)  이자비용(IFRS)  기타대손상각비(IFRS)  외환차손(IFRS).1  \
0             0.0         0.0         0.0            0.0     2136822.0
1             0.0         0.0         0.0            0.0           0.0
2             0.0         0.0         0.0      9208734.0     2365382.0
3             0.0         0.0         NaN    168242000.0    38000000.0
4             0.0         0.0         0.0    111607000.0    34514000.0
..            ...         ...         ...            ...           ...
387           0.0      8633.0         0.0        20131.0           0.0
388           0.0         0.0         0.0       823181.0           0.0
389           0.0         0.0         0.0       201560.0      821838.0
390           0.0         0.0         0.0        76880.0      799836.0
391           0.0         0.0         0.0       311927.0      375920.0

     외화환산손실(IFRS).1  보상비(IFRS)  법인세비용(IFRS)  label
0         2881977.0        0.0     184992.0    1.0
1               0.0        0.0    7248212.0    1.0
2         2147683.0        0.0    -696299.0    1.0
3        23052000.0        0.0   54918791.0    0.0
4        23702000.0        0.0 -121688653.0    0.0
..              ...        ...          ...    ...
387             0.0        0.0     553201.0    1.0
388             0.0        0.0   -1544374.0    1.0
389             0.0        0.0   -2093131.0    1.0
390       2359896.0        0.0    2536049.0    1.0
391        152568.0        0.0   10788434.0    1.0

[392 rows x 162 columns]

In [38]:
# 9번째 컬럼부터 마지막 전까지 값이 모두 0인 행 찾기
rows_to_remove = df_cleaned[(df_cleaned.iloc[:, 9:-1] == 0).all(axis=1)]

# 삭제된 행의 회사명 저장
removed_company_names = rows_to_remove.iloc[:, 0]  # 0번째 컬럼 (회사명)

# 새로운 데이터프레임에서 지운 행 제거
rows_to_keep = df_cleaned[~(df_cleaned.iloc[:, 9:-1] == 0).all(axis=1)]

# 결과 출력
print("삭제된 행의 회사명:")
print(removed_company_names.tolist())
print("\n새로운 데이터프레임:")
print(rows_to_keep)

삭제된 행의 회사명:
[]

새로운 데이터프레임:
            회사명   거래소코드  회계년도  소속코드  통계청 한국표준산업분류 코드 10차(대분류)   산업코드  \
0    (주)다이나믹디자인  145210  2015     1                        29  32902
1    (주)다이나믹디자인  145210  2016     1                        29  32902
2    (주)다이나믹디자인  145210  2017     1                        29  32902
3       (주)대우건설   47040  2012     1                        41  64101
4       (주)대우건설   47040  2013     1                        41  64101
..          ...     ...   ...   ...                       ...    ...
387   한솔아이원스(주)  114810  2017     5                        29  32902
388   한솔아이원스(주)  114810  2018     5                        29  32902
389   한솔아이원스(주)  114810  2019     5                        29  32902
390   한솔아이원스(주)  114810  2020     5                        29  32902
391   한솔아이원스(주)  114810  2021     5                        29  32902

                   산업명         상장일 상장폐지일  현금및현금성자산(IFRS)  ...  전기오류수정이익(IFRS)  \
0      기타 기계 및 장비 제조업   2015-03-19   NaN      10376890.0  ...             0.0
1      기타 기계 및 장비 제조업   2015-03-19   NaN      15192647.0  ...             0.0
2      기타 기계 및 장비 제조업   2015-03-19   NaN       6564156.0  ...             0.0
3              종합 건설업   2001-03-23   NaN     388440274.0  ...             0.0
4              종합 건설업   2001-03-23   NaN     409596263.0  ...             0.0
..                 ...         ...   ...             ...  ...             ...
387    기타 기계 및 장비 제조업   2013-02-07   NaN       9892897.0  ...             0.0
388    기타 기계 및 장비 제조업   2013-02-07   NaN       5510953.0  ...             0.0
389    기타 기계 및 장비 제조업   2013-02-07   NaN      12310161.0  ...             0.0
390    기타 기계 및 장비 제조업   2013-02-07   NaN       9274990.0  ...             0.0
391    기타 기계 및 장비 제조업   2013-02-07   NaN      16490063.0  ...             0.0

     채무면제이익(IFRS)  보험차익(IFRS)  이자비용(IFRS)  기타대손상각비(IFRS)  외환차손(IFRS).1  \
0             0.0         0.0         0.0            0.0     2136822.0
1             0.0         0.0         0.0            0.0           0.0
2             0.0         0.0         0.0      9208734.0     2365382.0
3             0.0         0.0         NaN    168242000.0    38000000.0
4             0.0         0.0         0.0    111607000.0    34514000.0
..            ...         ...         ...            ...           ...
387           0.0      8633.0         0.0        20131.0           0.0
388           0.0         0.0         0.0       823181.0           0.0
389           0.0         0.0         0.0       201560.0      821838.0
390           0.0         0.0         0.0        76880.0      799836.0
391           0.0         0.0         0.0       311927.0      375920.0

     외화환산손실(IFRS).1  보상비(IFRS)  법인세비용(IFRS)  label
0         2881977.0        0.0     184992.0    1.0
1               0.0        0.0    7248212.0    1.0
2         2147683.0        0.0    -696299.0    1.0
3        23052000.0        0.0   54918791.0    0.0
4        23702000.0        0.0 -121688653.0    0.0
..              ...        ...          ...    ...
387             0.0        0.0     553201.0    1.0
388             0.0        0.0   -1544374.0    1.0
389             0.0        0.0   -2093131.0    1.0
390       2359896.0        0.0    2536049.0    1.0
391        152568.0        0.0   10788434.0    1.0

[392 rows x 162 columns]

In [45]:
df_cleaned.describe()

,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,현금및현금성자산(IFRS),유동금융자산(IFRS),매출채권 및 기타유동채권(IFRS),이연법인세자산(IFRS),상각후원가측정 유가증권(IFRS),...,전기오류수정이익(IFRS),채무면제이익(IFRS),보험차익(IFRS),이자비용(IFRS),기타대손상각비(IFRS),외환차손(IFRS).1,외화환산손실(IFRS).1,보상비(IFRS),법인세비용(IFRS),label
count,392.000000,392.000000,392.000000,392.000000,392.000000,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,1.390000e+02,...,392.000000,3.920000e+02,392.000000,3.600000e+02,3.910000e+02,3.920000e+02,3.920000e+02,392.000000,3.920000e+02,392.000000
mean,60889.209184,2015.244898,3.627551,36.183673,56529.785714,8.173460e+07,5.896734e+07,2.841600e+08,2.108404e+07,1.744402e+05,...,1440.617347,4.110442e+04,3144.931122,5.850267e+03,4.623905e+06,8.386330e+06,4.942557e+06,9230.321429,8.754720e+06,0.755102
std,66021.325425,2.111041,1.852366,17.585507,38941.337232,2.901119e+08,2.202317e+08,1.021602e+09,9.734530e+07,1.741820e+06,...,22959.519550,4.026701e+05,37965.482851,7.655665e+04,2.696735e+07,4.832345e+07,2.470609e+07,64907.319630,7.465414e+07,0.430576
min,720.000000,2012.000000,1.000000,10.000000,31201.000000,8.790000e+02,0.000000e+00,2.830360e+05,0.000000e+00,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,-7.367819e+06,0.000000e+00,0.000000e+00,0.000000,-9.506336e+08,0.000000
25%,27580.000000,2014.000000,1.000000,24.000000,32501.000000,2.458274e+06,1.043648e+06,8.988498e+06,0.000000e+00,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.599750e+03,1.750000e+00,0.000000,0.000000e+00,1.000000
50%,47040.000000,2015.000000,5.000000,29.000000,32902.000000,8.448131e+06,4.094148e+06,2.132412e+07,4.490540e+05,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,2.357585e+05,7.179100e+04,0.000000,3.019790e+05,1.000000
75%,69460.000000,2017.000000,5.000000,46.000000,74605.000000,3.046576e+07,1.682072e+07,6.458462e+07,4.451809e+06,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,7.189140e+05,1.390740e+06,5.850420e+05,0.000000,3.348056e+06,1.000000
max,900100.000000,2021.000000,6.000000,91.000000,189102.000000,2.542381e+09,2.099634e+09,7.980449e+09,1.335461e+09,2.029100e+07,...,449505.000000,6.421716e+06,575056.000000,1.070870e+06,4.194660e+08,7.328480e+08,3.391720e+08,745141.000000,4.191244e+08,1.000000

## 컬럼별 0인것들의 개수

In [48]:
pd.set_option('display.max_columns', None)

In [54]:
pd.set_option('display.max_rows', None)

In [61]:
na_count = (df_cleaned.isna()).sum()
na_count

회사명                               0
거래소코드                             0
회계년도                              0
소속코드                              0
통계청 한국표준산업분류 코드 10차(대분류)          0
산업코드                              0
산업명                               0
상장일                               0
상장폐지일                           333
현금및현금성자산(IFRS)                    0
유동금융자산(IFRS)                      0
매출채권 및 기타유동채권(IFRS)               0
이연법인세자산(IFRS)                     0
상각후원가측정 유가증권(IFRS)              253
매출채권(IFRS)                        0
미수금(IFRS)                         0
단기대여금(IFRS)                       0
선급금(IFRS)                         0
기타유동자산(IFRS)                      0
상품(IFRS)                          0
제품(IFRS)                          0
반제품(IFRS)                         0
재공품(IFRS)                         0
원재료(부재료)(IFRS)                    0
저장품(소모품)(IFRS)                    0
미착품(IFRS)                         0
완성건물(IFRS)                        0
용지(IFRS)                          0
미완성공사(IFRS)                       0
미완성건물(IFRS)                       0
기타재고자산(IFRS)                      0
장기대여금(IFRS)                       0
장기당기손익인식금융자산(IFRS)                0
투자부동산(IFRS)                       0
토지(IFRS)                          0
건물 및 부속설비(IFRS)                   0
구축물(IFRS)                         0
기계장치(IFRS)                        0
중장비(IFRS)                         0
시설장치(IFRS)                        0
제설비(IFRS)                         0
미착자산(IFRS)                        0
차량운반구(IFRS)                       0
선박(IFRS)                          0
항공기(IFRS)                         0
공구                                0
임대(주택)자산(IFRS)                   33
임차개량자산(IFRS)                     33
건설중인자산(IFRS)                      0
기타유형자산(IFRS)                      0
영업권(IFRS)                         0
개발비(IFRS)                         0
특허권(IFRS)                         0
기타산업재산권(IFRS)                     0
컴퓨터소프트웨어(IFRS)                    0
브랜드(IFRS)                         0
라이선스와 프랜차이즈(IFRS)                 0
저작권(IFRS)                         0
회원권(IFRS)                         0
제이용권(사용권)(IFRS)                   0
개발중인 무형자산(IFRS)                   0
무형탐사평가자산(IFRS)                    0
배출권자산(IFRS)                     253
기타무형자산(IFRS)                      0
장기매출채권(IFRS)                      0
장기공사미수금(IFRS)                     0
장기미수금(IFRS)                       0
장기미청구공사(IFRS)                     0
장기대출채권(IFRS)                      0
장기미수수익(IFRS)                      0
장기보증금(IFRS)                       0
기타장기채권(IFRS)                      0
매입채무(IFRS)                        0
미지급금(IFRS)                        0
보증금(IFRS)                         0
미지급배당금(IFRS)                      0
미지급비용(IFRS)                       0
단기차입금(IFRS)                       0
단기매입채무 및 기타유동채무(IFRS)             0
선수금(IFRS)                         0
당기법인세부채(미지급법인세)(IFRS)           194
이연법인세부채(IFRS)                     0
기타유동부채(IFRS)                      0
사채(IFRS)                          0
전환사채(IFRS)                        0
신주인수권부사채(IFRS)                    0
장기차입금(IFRS)                       0
장기매입채무(IFRS)                      0
기타장기충당부채(IFRS)                    0
장기공사선수금(IFRS)                     0
기타비유동부채(IFRS)                     0
보통주자본금(IFRS)                      0
우선주자본금(IFRS)                      0
주식발행초과금(IFRS)                     0
감자차익(IFRS)                        0
합병차익(IFRS)                        0
재평가적립금(2001년 이전)(IFRS)            0
기타자본잉여금(IFRS)                     0
주식할인발행차금(IFRS)                    0
자기주식(IFRS)                        0
매도가능금융자산평가손익(IFRS)                0
환산 관련 외환차이 적립금(환율변동차이)(IFRS)      0
기타포괄손익누계액(IFRS)                   0
주식매입선택권(IFRS)                     0
이익준비금(IFRS)                       0
기업합리화적립금(IFRS)                    0
재무구조개선적립금(IFRS)                   0
기업발전적립금(IFRS)                     0
기타법정적립금(IFRS)                     0
재평가손익(IFRS)                       0
보험수리적손익(IFRS)                     0
기술개발준비금(IFRS)                     0
연구및인력개발준비금(IFRS)                  0
사업손실준비금(IFRS)                     0
기타임의적립금(IFRS)                     0
기타이익잉여금(IFRS)                     0
미처분이익잉여금(결손금)(IFRS)               0
*전기이월미처분이익잉여금(결손금)(IFRS)          0
매출액(수익)(IFRS)                     0
상품매출액(IFRS)                       0
제품매출액(IFRS)                       0
건설계약으로 인한 수익(공사수익)(IFRS)          0
임대수익(IFRS)                        0
분양수익(IFRS)                        0
수수료수익(IFRS)                       0
기타수익(IFRS)                        0
당기상품매입액(IFRS)                     0
기초제품재고액(IFRS)                     0
(기말제품재고액)(IFRS)                   0
종업원 급여비용(IFRS)                    0
급여(IFRS)                          0
퇴직급여(IFRS)                        0
복리후생비(IFRS)                       0
보험료(IFRS)                         0
여비교통비(IFRS)                       0
임차료(IFRS)                         0
접대비(IFRS)                         0
감가상각비(IFRS)                       0
세금과공과(IFRS)                       0
광고선전비(IFRS)                       0
차량유지비(IFRS)                       0
연구개발비(IFRS)                       0
경상연구개발비(IFRS)                     0
대손상각비(IFRS)                       0
기타(IFRS)                          0
이자수익(IFRS)                       11
배당금수익(IFRS)                      19
외환차손(IFRS)                        0
외화환산손실(IFRS)                      0
지분법이익(IFRS)                       0
사채상환이익(IFRS)                     33
대손충당금환입액(IFRS)                    0
전기오류수정이익(IFRS)                    0
채무면제이익(IFRS)                      0
보험차익(IFRS)                        0
이자비용(IFRS)                       32
기타대손상각비(IFRS)                     1
외환차손(IFRS).1                      0
외화환산손실(IFRS).1                    0
보상비(IFRS)                         0
법인세비용(IFRS)                       0
label                             0
dtype: int64

In [50]:
zero_count = (df_cleaned==0).sum()

In [55]:
print(zero_count)

회사명                               0
거래소코드                             0
회계년도                              0
소속코드                              0
통계청 한국표준산업분류 코드 10차(대분류)          0
산업코드                              0
산업명                               0
상장일                               0
상장폐지일                             0
현금및현금성자산(IFRS)                    0
유동금융자산(IFRS)                     17
매출채권 및 기타유동채권(IFRS)               0
이연법인세자산(IFRS)                   164
상각후원가측정 유가증권(IFRS)              135
매출채권(IFRS)                        4
미수금(IFRS)                         8
단기대여금(IFRS)                      91
선급금(IFRS)                         8
기타유동자산(IFRS)                      1
상품(IFRS)                        130
제품(IFRS)                        118
반제품(IFRS)                       332
재공품(IFRS)                       169
원재료(부재료)(IFRS)                   86
저장품(소모품)(IFRS)                  226
미착품(IFRS)                       225
완성건물(IFRS)                      373
용지(IFRS)                        353
미완성공사(IFRS)                     387
미완성건물(IFRS)                     369
기타재고자산(IFRS)                    358
장기대여금(IFRS)                     167
장기당기손익인식금융자산(IFRS)              381
투자부동산(IFRS)                     235
토지(IFRS)                         47
건물 및 부속설비(IFRS)                  42
구축물(IFRS)                       158
기계장치(IFRS)                       60
중장비(IFRS)                       376
시설장치(IFRS)                      252
제설비(IFRS)                       362
미착자산(IFRS)                      384
차량운반구(IFRS)                      69
선박(IFRS)                        377
항공기(IFRS)                       390
공구                               79
임대(주택)자산(IFRS)                  356
임차개량자산(IFRS)                    357
건설중인자산(IFRS)                    162
기타유형자산(IFRS)                    208
영업권(IFRS)                       198
개발비(IFRS)                       186
특허권(IFRS)                       350
기타산업재산권(IFRS)                   159
컴퓨터소프트웨어(IFRS)                  181
브랜드(IFRS)                       389
라이선스와 프랜차이즈(IFRS)               379
저작권(IFRS)                       383
회원권(IFRS)                       151
제이용권(사용권)(IFRS)                 313
개발중인 무형자산(IFRS)                 365
무형탐사평가자산(IFRS)                  390
배출권자산(IFRS)                     139
기타무형자산(IFRS)                    159
장기매출채권(IFRS)                    321
장기공사미수금(IFRS)                   382
장기미수금(IFRS)                     313
장기미청구공사(IFRS)                   391
장기대출채권(IFRS)                    391
장기미수수익(IFRS)                    377
장기보증금(IFRS)                     179
기타장기채권(IFRS)                    365
매입채무(IFRS)                       11
미지급금(IFRS)                        7
보증금(IFRS)                       344
미지급배당금(IFRS)                    355
미지급비용(IFRS)                      12
단기차입금(IFRS)                     390
단기매입채무 및 기타유동채무(IFRS)           388
선수금(IFRS)                        37
당기법인세부채(미지급법인세)(IFRS)             0
이연법인세부채(IFRS)                   260
기타유동부채(IFRS)                     20
사채(IFRS)                        231
전환사채(IFRS)                      318
신주인수권부사채(IFRS)                  351
장기차입금(IFRS)                     109
장기매입채무(IFRS)                    390
기타장기충당부채(IFRS)                  245
장기공사선수금(IFRS)                   390
기타비유동부채(IFRS)                   358
보통주자본금(IFRS)                      0
우선주자본금(IFRS)                    366
주식발행초과금(IFRS)                    20
감자차익(IFRS)                      331
합병차익(IFRS)                      386
재평가적립금(2001년 이전)(IFRS)          358
기타자본잉여금(IFRS)                   155
주식할인발행차금(IFRS)                  384
자기주식(IFRS)                      131
매도가능금융자산평가손익(IFRS)              232
환산 관련 외환차이 적립금(환율변동차이)(IFRS)    318
기타포괄손익누계액(IFRS)                  67
주식매입선택권(IFRS)                   296
이익준비금(IFRS)                     146
기업합리화적립금(IFRS)                  335
재무구조개선적립금(IFRS)                 373
기업발전적립금(IFRS)                   374
기타법정적립금(IFRS)                   370
재평가손익(IFRS)                     378
보험수리적손익(IFRS)                   389
기술개발준비금(IFRS)                   381
연구및인력개발준비금(IFRS)                351
사업손실준비금(IFRS)                   389
기타임의적립금(IFRS)                   237
기타이익잉여금(IFRS)                   359
미처분이익잉여금(결손금)(IFRS)               0
*전기이월미처분이익잉여금(결손금)(IFRS)        391
매출액(수익)(IFRS)                     0
상품매출액(IFRS)                     177
제품매출액(IFRS)                     148
건설계약으로 인한 수익(공사수익)(IFRS)        328
임대수익(IFRS)                      332
분양수익(IFRS)                      380
수수료수익(IFRS)                     375
기타수익(IFRS)                      149
당기상품매입액(IFRS)                   340
기초제품재고액(IFRS)                   332
(기말제품재고액)(IFRS)                 332
종업원 급여비용(IFRS)                    3
급여(IFRS)                          3
퇴직급여(IFRS)                       12
복리후생비(IFRS)                       9
보험료(IFRS)                        72
여비교통비(IFRS)                      16
임차료(IFRS)                        26
접대비(IFRS)                        67
감가상각비(IFRS)                       7
세금과공과(IFRS)                     311
광고선전비(IFRS)                      56
차량유지비(IFRS)                      72
연구개발비(IFRS)                     102
경상연구개발비(IFRS)                   291
대손상각비(IFRS)                      52
기타(IFRS)                        106
이자수익(IFRS)                       81
배당금수익(IFRS)                     240
외환차손(IFRS)                      185
외화환산손실(IFRS)                    199
지분법이익(IFRS)                     341
사채상환이익(IFRS)                    346
대손충당금환입액(IFRS)                  376
전기오류수정이익(IFRS)                  387
채무면제이익(IFRS)                    378
보험차익(IFRS)                      386
이자비용(IFRS)                      357
기타대손상각비(IFRS)                   209
외환차손(IFRS).1                     80
외화환산손실(IFRS).1                   96
보상비(IFRS)                       372
법인세비용(IFRS)                      57
label                            96
dtype: int64

In [57]:
filtered_zero_count = zero_count[zero_count < 10]
filtered_zero_count

회사명                         0
거래소코드                       0
회계년도                        0
소속코드                        0
통계청 한국표준산업분류 코드 10차(대분류)    0
산업코드                        0
산업명                         0
상장일                         0
상장폐지일                       0
현금및현금성자산(IFRS)              0
매출채권 및 기타유동채권(IFRS)         0
매출채권(IFRS)                  4
미수금(IFRS)                   8
선급금(IFRS)                   8
기타유동자산(IFRS)                1
미지급금(IFRS)                  7
당기법인세부채(미지급법인세)(IFRS)       0
보통주자본금(IFRS)                0
미처분이익잉여금(결손금)(IFRS)         0
매출액(수익)(IFRS)               0
종업원 급여비용(IFRS)              3
급여(IFRS)                    3
복리후생비(IFRS)                 9
감가상각비(IFRS)                 7
dtype: int64

In [64]:
# filtered_zero_count.to_csv("결측치 10개미만.csv")

In [62]:
len(filtered_zero_count)

24

In [59]:
filtered_zero_count2 = zero_count[zero_count < 50]
filtered_zero_count2

회사명                          0
거래소코드                        0
회계년도                         0
소속코드                         0
통계청 한국표준산업분류 코드 10차(대분류)     0
산업코드                         0
산업명                          0
상장일                          0
상장폐지일                        0
현금및현금성자산(IFRS)               0
유동금융자산(IFRS)                17
매출채권 및 기타유동채권(IFRS)          0
매출채권(IFRS)                   4
미수금(IFRS)                    8
선급금(IFRS)                    8
기타유동자산(IFRS)                 1
토지(IFRS)                    47
건물 및 부속설비(IFRS)             42
매입채무(IFRS)                  11
미지급금(IFRS)                   7
미지급비용(IFRS)                 12
선수금(IFRS)                   37
당기법인세부채(미지급법인세)(IFRS)        0
기타유동부채(IFRS)                20
보통주자본금(IFRS)                 0
주식발행초과금(IFRS)               20
미처분이익잉여금(결손금)(IFRS)          0
매출액(수익)(IFRS)                0
종업원 급여비용(IFRS)               3
급여(IFRS)                     3
퇴직급여(IFRS)                  12
복리후생비(IFRS)                  9
여비교통비(IFRS)                 16
임차료(IFRS)                   26
감가상각비(IFRS)                  7
dtype: int64

In [63]:
len(filtered_zero_count2)

35

In [66]:
# filtered_zero_count2.to_csv("결측치 50개미만.csv")