In [25]:
import pandas as pd

df = pd.read_csv('../data/processed_data/재무비율_처리완.csv')
feature = df[df.columns[9:-1]]

no_ratio = df.copy()
no_ratio = no_ratio[no_ratio.columns[:9]]

In [28]:
len(df.columns)

151

In [30]:
len(feature.columns)

141

In [18]:
feature.columns[~feature.columns.str.contains('율|률')]

Index(['배당성향(IFRS)', '1주당매출액(IFRS)(원)', '1주당순이익(IFRS)(원)',
       '1주당 CASH FLOW(IFRS)(원)', '1주당순자산(IFRS)(원)', '1주당정상영업이익(IFRS)(원)',
       '차입금의존도(IFRS)', '유동자산집중도(IFRS)', '비유동자산집중도(IFRS)', '투자집중도(IFRS)',
       '매입채무회전기간(IFRS)', '재고자산회전기간(IFRS)', '매출채권회전기간(IFRS)', '1회전기간(IFRS)',
       '부가가치(IFRS)(백만원)', '종업원1인당 부가가치(IFRS)(백만원)', '종업원1인당 매출액(IFRS)(백만원)',
       '종업원1인당 정상영업이익(IFRS)(백만원)', '종업원1인당 순이익(IFRS)(백만원)',
       '종업원1인당 인건비(IFRS)(백만원)', '자본집약도(IFRS)', '법인세비용차감전(계속사업)손익(IFRS)(백만원)',
       '인건비(IFRS)(백만원)', '금융비용(IFRS)(백만원)', '임차료(IFRS)(백만원)',
       '세금과공과(IFRS)(백만원)', '감가상각비(IFRS)(백만원)', '종업원수(IFRS)'],
      dtype='object')

In [27]:
columns_list = ['부가가치(IFRS)(백만원)', '법인세비용차감전(계속사업)손익(IFRS)(백만원)',
                '인건비(IFRS)(백만원)', '금융비용(IFRS)(백만원)', '임차료(IFRS)(백만원)', '세금과공과(IFRS)(백만원)',
                '감가상각비(IFRS)(백만원)', '종업원수(IFRS)']

In [34]:
# 지표로 갈 컬럼 분리
df = df.drop(columns=columns_list)

In [36]:
plus_feature = feature[columns_list]
plus_feature.head()

,부가가치(IFRS)(백만원),법인세비용차감전(계속사업)손익(IFRS)(백만원),인건비(IFRS)(백만원),금융비용(IFRS)(백만원),임차료(IFRS)(백만원),세금과공과(IFRS)(백만원),감가상각비(IFRS)(백만원),종업원수(IFRS)
0,66194.88,1548.77,46876.84,3589.40,0.0,0.0,14203.75,150.0
1,-11379.61,-11379.61,0.00,0.00,0.0,0.0,0.00,134.0
2,20831.20,-34429.26,39598.55,3990.88,0.0,0.0,11694.91,526.0
3,1354073.61,227947.72,802635.00,94086.89,124047.0,54145.0,51212.00,5192.0
4,405379.72,-839724.66,913926.00,86015.38,123239.0,62921.0,59003.00,6382.0

In [26]:
no_ratio

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일
0,(주)다이나믹디자인,145210,2015,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN
1,(주)다이나믹디자인,145210,2016,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN
2,(주)다이나믹디자인,145210,2017,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN
3,(주)대우건설,47040,2012,1,41,64101,종합 건설업,2001-03-23,NaN
4,(주)대우건설,47040,2013,1,41,64101,종합 건설업,2001-03-23,NaN
...,...,...,...,...,...,...,...,...,...
384,한솔아이원스(주),114810,2014,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN
385,한솔아이원스(주),114810,2015,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN
386,한솔아이원스(주),114810,2016,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN
387,한솔아이원스(주),114810,2017,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN
388,한솔아이원스(주),114810,2018,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN

In [38]:
no_ratio = pd.concat([no_ratio, plus_feature], axis=1)
no_ratio

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,부가가치(IFRS)(백만원),법인세비용차감전(계속사업)손익(IFRS)(백만원),인건비(IFRS)(백만원),금융비용(IFRS)(백만원),임차료(IFRS)(백만원),세금과공과(IFRS)(백만원),감가상각비(IFRS)(백만원),종업원수(IFRS)
0,(주)다이나믹디자인,145210,2015,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,66194.88,1548.77,46876.84,3589.40,0.0,0.0,14203.75,150.0
1,(주)다이나믹디자인,145210,2016,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,-11379.61,-11379.61,0.00,0.00,0.0,0.0,0.00,134.0
2,(주)다이나믹디자인,145210,2017,1,29,32902,기타 기계 및 장비 제조업,2015-03-19,NaN,20831.20,-34429.26,39598.55,3990.88,0.0,0.0,11694.91,526.0
3,(주)대우건설,47040,2012,1,41,64101,종합 건설업,2001-03-23,NaN,1354073.61,227947.72,802635.00,94086.89,124047.0,54145.0,51212.00,5192.0
4,(주)대우건설,47040,2013,1,41,64101,종합 건설업,2001-03-23,NaN,405379.72,-839724.66,913926.00,86015.38,123239.0,62921.0,59003.00,6382.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,한솔아이원스(주),114810,2014,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,25064.38,6517.48,11519.18,1153.62,0.0,0.0,5874.10,311.0
385,한솔아이원스(주),114810,2015,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,23412.85,4117.49,14032.58,986.84,0.0,0.0,4275.95,363.0
386,한솔아이원스(주),114810,2016,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,12284.33,-16726.64,18489.82,3567.48,0.0,0.0,6968.28,393.0
387,한솔아이원스(주),114810,2017,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,31894.30,-79.97,19022.41,5048.10,0.0,0.0,7923.59,519.0
388,한솔아이원스(주),114810,2018,5,29,32902,기타 기계 및 장비 제조업,2013-02-07,NaN,36245.79,-678.20,24417.40,3831.05,0.0,0.0,8695.36,608.0

In [40]:
# no_ratio.to_csv('../data/processed_data/재무비율에서뺀재무지표.csv', index = False, encoding = 'UTF-8-sig')

In [43]:
# df.to_csv('../data/processed_data/재무비율_final.csv', index = False, encoding = 'UTF-8-sig')