In [1]:
import pandas as pd

In [2]:
kospi_ratio = pd.read_excel('../data/raw_data/코스피_재무비율.xlsx')
kosdaq_ratio = pd.read_excel('../data/raw_data/코스닥_재무비율.xlsx')

In [3]:
print('kospi_ratio: ', kospi_ratio.shape)
print('kosdaq_ratio: ', kosdaq_ratio.shape)

kospi_ratio:  (8997, 156)
kosdaq_ratio:  (18974, 156)

In [4]:
print('kospi_ratio: ', kospi_ratio.drop_duplicates('거래소코드').shape)
print('kosdaq_ratio: ', kosdaq_ratio.drop_duplicates('거래소코드').shape)

kospi_ratio:  (820, 156)
kosdaq_ratio:  (1935, 156)

In [5]:
listed = pd.concat([kospi_ratio, kosdaq_ratio], ignore_index=True)

In [6]:
listed[listed['거래소코드'] == 68270]

,회사명,거래소코드,회계년도,소속코드,통계청 한국표준산업분류 코드 10차(대분류),산업코드,산업명,상장일,상장폐지일,총자본증가율(IFRS연결),...,인건비(IFRS연결)(백만원),금융비용(IFRS연결)(백만원),임차료(IFRS연결)(백만원),세금과공과(IFRS연결)(백만원),감가상각비(IFRS연결)(백만원),종업원1인당 부가가치(IFRS연결)(백만원).1,총자본투자효율(IFRS연결).1,기계투자효율(IFRS연결).1,부가가치율(IFRS연결).1,종업원수(IFRS연결)
1444,(주)셀트리온,68270,2012/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,0.00,...,56122.23,9244.68,1026.32,946.04,36679.19,NaN,16.82,2440.15,83.21,NaN
1445,(주)셀트리온,68270,2013/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,14.17,...,47863.33,21608.50,1044.44,1100.75,47710.47,NaN,11.87,2214.09,103.78,NaN
1446,(주)셀트리온,68270,2014/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,17.38,...,75196.20,28158.55,1898.77,2093.42,76278.81,NaN,14.33,2358.47,70.64,NaN
1447,(주)셀트리온,68270,2015/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,18.34,...,84885.07,22657.19,2211.66,2218.44,82174.08,NaN,13.00,480.46,59.21,NaN
1448,(주)셀트리온,68270,2016/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,4.93,...,101885.24,14297.96,2242.57,3546.02,84773.55,NaN,14.02,138.42,60.27,NaN
1449,(주)셀트리온,68270,2017/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,14.23,...,129910.64,9133.63,2502.06,3881.94,97950.27,NaN,22.05,271.63,76.54,NaN
1450,(주)셀트리온,68270,2018/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,6.35,...,165997.87,3948.96,2838.20,4763.27,124826.47,NaN,17.24,247.20,61.50,NaN
1451,(주)셀트리온,68270,2019/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,10.18,...,209351.25,-1228.84,1101.15,5584.20,153719.62,NaN,19.45,259.78,66.51,NaN
1452,(주)셀트리온,68270,2020/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,30.07,...,243184.58,1537.81,0.00,5846.31,173849.80,NaN,21.54,365.66,58.49,NaN
1453,(주)셀트리온,68270,2021/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,13.03,...,252822.59,1602.49,0.00,6821.75,214159.74,NaN,21.62,407.25,64.17,NaN
1454,(주)셀트리온,68270,2022/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,3.83,...,276427.54,-6943.42,0.00,7223.42,226390.02,NaN,19.17,425.62,49.44,NaN
1455,(주)셀트리온,68270,2023/12,1,21,32101,의료용 물질 및 의약품 제조업,2018/02/09,NaN,238.06,...,304339.57,-9466.72,0.00,7919.81,245827.33,NaN,6.12,521.69,56.04,NaN
13163,(주)셀트리온,68270,2012/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,0.00,...,56122.23,9244.68,1026.32,946.04,36679.19,NaN,16.82,2440.15,83.21,NaN
13164,(주)셀트리온,68270,2013/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,14.17,...,47863.33,21608.50,1044.44,1100.75,47710.47,NaN,11.87,2214.09,103.78,NaN
13165,(주)셀트리온,68270,2014/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,17.38,...,75196.20,28158.55,1898.77,2093.42,76278.81,NaN,14.33,2358.47,70.64,NaN
13166,(주)셀트리온,68270,2015/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,18.34,...,84885.07,22657.19,2211.66,2218.44,82174.08,NaN,13.00,480.46,59.21,NaN
13167,(주)셀트리온,68270,2016/12,4,21,32101,의료용 물질 및 의약품 제조업,2005/07/15,2018/02/09,9.96,...,99333.59,10847.19,2242.57,3546.02,88675.33,NaN,14.36,148.62,64.72,NaN

In [7]:
listed.shape

(27971, 156)

In [8]:
listed.drop_duplicates('거래소코드').shape

(2739, 156)

# 결산월이 12월인 기업만

In [9]:
listed['회계년도'] = pd.to_datetime(listed['회계년도'], format='%Y/%m')
listed = listed[listed['회계년도'].dt.month == 12]

In [10]:
listed.shape

(27554, 156)

In [11]:
listed.drop_duplicates('거래소코드').shape

(2715, 156)

# 특수 목적 회사 drop
- 1차 통계청 한국표준산업분류(KSIC) 기준으로 제거
    - K. 금융및보험업(64~66)
        - 64. 금융업
        - 65. 보험및연금업
        - 66. 금융및보험관련서비스업
- 2차 키워드 제거
    - 인베스트|투자|금융|보험|캐피탈|특수목적|프로젝트|문화산업

In [12]:
listed = listed[~listed['통계청 한국표준산업분류 코드 10차(대분류)'].isin([64, 65, 66])]
listed = listed[~listed['회사명'].str.contains('인베스트|투자|금융|보험|캐피탈|특수목적|프로젝트|문화산업')]

In [13]:
listed.shape

(27388, 156)

In [14]:
listed.drop_duplicates('거래소코드').shape

(2700, 156)

# 이전 상장에 따른 중복 데이터 제거

In [15]:
# Step 1: 소속코드가 4와 1을 모두 가지는 거래소코드 찾기
# 거래소코드별로 그룹화하여 소속코드를 집합으로 만든 후, 조건을 만족하는 거래소코드를 필터링합니다.
grouped = listed.groupby('거래소코드')['소속코드'].apply(set)
target_codes = grouped[grouped.apply(lambda x: {1, 4}.issubset(x))].index
target_codes

Index([  3670,  22100,  26960,  30190,  34230,  35510,  35720,  36420,  66970,
        68270,  90460,  97520, 100090, 108320, 178920, 192080],
      dtype='int64', name='거래소코드')

In [16]:
# Step 2: 소속코드가 4이고 상장폐지일이 존재하는 행 제거
listed = listed[~((listed['거래소코드'].isin(target_codes)) & (listed['소속코드'] == 4) & (~listed['상장폐지일'].isna()))]

In [17]:
listed.shape

(27260, 156)

In [18]:
listed.drop_duplicates('거래소코드').shape

(2700, 156)

# 상장 이전 데이터 제거

In [19]:
listed[['회계년도', '상장일']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 27260 entries, 0 to 27970
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회계년도    27260 non-null  datetime64[ns]
 1   상장일     27260 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 638.9+ KB

In [20]:
listed['상장일'] = pd.to_datetime(listed['상장일'], format='%Y/%m/%d')

In [21]:
# 회계년도가 상장년도 이전(미만)인 데이터 제거
listed[listed['회계년도'].dt.year < listed['상장일'].dt.year][['회사명', '거래소코드', '회계년도', '상장일']]

             회사명   거래소코드       회계년도        상장일
140      (주)경보제약  214390 2012-12-01 2015-06-29
141      (주)경보제약  214390 2013-12-01 2015-06-29
142      (주)경보제약  214390 2014-12-01 2015-06-29
224    (주)금호에이치티  214330 2012-12-01 2015-11-11
225    (주)금호에이치티  214330 2013-12-01 2015-11-11
...          ...     ...        ...        ...
27913  휴림네트웍스(주)  192410 2012-12-01 2014-08-14
27914  휴림네트웍스(주)  192410 2013-12-01 2014-08-14
27947      휴젤(주)  145020 2012-12-01 2015-12-24
27948      휴젤(주)  145020 2013-12-01 2015-12-24
27949      휴젤(주)  145020 2014-12-01 2015-12-24

[3943 rows x 4 columns]

In [22]:
# 회계년도가 상장년도 이전(미만)인 데이터 제거
listed = listed[listed['회계년도'].dt.year >= listed['상장일'].dt.year]

In [23]:
listed.shape

(23317, 156)

In [24]:
listed.drop_duplicates('거래소코드').shape

(2641, 156)

# merge

### 회계 감리 지적 기업 csv 불러오기

In [55]:
fraud = pd.read_csv('../data/raw_data/회계 감리 지적 기업.csv')

In [58]:
fraud

           기업명   거래소코드 기업유형  회계년도  이익 과대계상 (비용 과소계상)
0      현대건설(주)     720  코스피  2013                  1
1      현대건설(주)     720  코스피  2014                  1
2      현대건설(주)     720  코스피  2015                  1
3      현대건설(주)     720  코스피  2016                  1
4      백광산업(주)    1340  코스피  2015                  1
..         ...     ...  ...   ...                ...
421   (주)에스에스알  275630  코스닥  2019                  1
422    에어부산(주)  298690  코스피  2015                  0
423    조선내화(주)  462520  코스피  2012                  1
424    조선내화(주)  462520  코스피  2013                  1
425  애머릿지코퍼레이션  900100  코스닥  2018                  0

[426 rows x 5 columns]

In [59]:
print('fraud 로우 수: ', fraud.shape)
print('fraud 기업 수: ', fraud.drop_duplicates('거래소코드').shape)

fraud 로우 수:  (426, 5)
fraud 기업 수:  (138, 5)

In [60]:
# 중복 행 제거 후 인덱스 리셋
fraud = fraud.drop_duplicates().reset_index(drop=True)

In [61]:
print('fraud 로우 수: ', fraud.shape)
print('fraud 기업 수: ', fraud.drop_duplicates('거래소코드').shape)

fraud 로우 수:  (426, 5)
fraud 기업 수:  (138, 5)

### 기준이 되는 데이터 타입 맞추기

In [62]:
listed[['거래소코드', '회계년도']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 23317 entries, 0 to 27970
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   23317 non-null  int64
 1   회계년도    23317 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 546.5 KB

In [63]:
fraud[['거래소코드', '회계년도']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   거래소코드   426 non-null    int64
 1   회계년도    426 non-null    int64
dtypes: int64(2)
memory usage: 6.8 KB

In [64]:
listed['회계년도'] = listed['회계년도'].dt.year

### pd.merge(listed, fraud, on=['거래소코드', '회계년도'])

In [65]:
listed = pd.merge(listed, fraud, on=['거래소코드', '회계년도'])

In [66]:
listed.shape

(389, 159)

In [67]:
listed.drop_duplicates('거래소코드').shape

(132, 159)

In [68]:
print(listed[listed['기업유형'] == '코스피'].shape)
print(listed[listed['기업유형'] == '코스닥'].shape)

(128, 159)
(261, 159)

In [69]:
print(listed[listed['기업유형'] == '코스피'].drop_duplicates('거래소코드').shape)
print(listed[listed['기업유형'] == '코스닥'].drop_duplicates('거래소코드').shape)

(40, 159)
(92, 159)

# 정리

In [70]:
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '세금과공과(IFRS연결)(백만원)', '감가상각비(IFRS연결)(백만원)',
       '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1', '기계투자효율(IFRS연결).1',
       '부가가치율(IFRS연결).1', '종업원수(IFRS연결)', '기업명', '기업유형', '이익 과대계상 (비용 과소계상)'],
      dtype='object', length=159)

In [71]:
listed = listed.drop(columns = ['기업명', '기업유형'])
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '금융비용(IFRS연결)(백만원)', '임차료(IFRS연결)(백만원)', '세금과공과(IFRS연결)(백만원)',
       '감가상각비(IFRS연결)(백만원)', '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1',
       '기계투자효율(IFRS연결).1', '부가가치율(IFRS연결).1', '종업원수(IFRS연결)',
       '이익 과대계상 (비용 과소계상)'],
      dtype='object', length=157)

In [72]:
listed = listed.rename(columns={'회사명_x': '회사명', '이익 과대계상 (비용 과소계상)': 'label'})
listed.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '통계청 한국표준산업분류 코드 10차(대분류)', '산업코드',
       '산업명', '상장일', '상장폐지일', '총자본증가율(IFRS연결)',
       ...
       '금융비용(IFRS연결)(백만원)', '임차료(IFRS연결)(백만원)', '세금과공과(IFRS연결)(백만원)',
       '감가상각비(IFRS연결)(백만원)', '종업원1인당 부가가치(IFRS연결)(백만원).1', '총자본투자효율(IFRS연결).1',
       '기계투자효율(IFRS연결).1', '부가가치율(IFRS연결).1', '종업원수(IFRS연결)', 'label'],
      dtype='object', length=157)

---
파일 저장

In [75]:
listed_describe = listed.iloc[:, 8:-1].describe()
listed_describe

,총자본증가율(IFRS연결),유형자산증가율(IFRS연결),비유동생물자산증가율(IFRS연결),투자부동산증가율(IFRS연결),비유동자산증가율(IFRS연결),유동자산증가율(IFRS연결),재고자산증가율(IFRS연결),자기자본증가율(IFRS연결),매출액증가율(IFRS연결),정상영업이익증가율(IFRS연결),...,인건비(IFRS연결)(백만원),금융비용(IFRS연결)(백만원),임차료(IFRS연결)(백만원),세금과공과(IFRS연결)(백만원),감가상각비(IFRS연결)(백만원),종업원1인당 부가가치(IFRS연결)(백만원).1,총자본투자효율(IFRS연결).1,기계투자효율(IFRS연결).1,부가가치율(IFRS연결).1,종업원수(IFRS연결)
count,300.000000,300.000000,300.0,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,...,3.000000e+02,300.000000,300.000000,300.000000,300.000000,0.0,300.000000,3.000000e+02,300.000000,0.0
mean,8.425033,53.627400,0.0,19.006800,12.033467,12.507000,73.205667,7.976700,9.212067,393.885567,...,1.178775e+05,11234.410667,6982.367667,1022.728433,26831.007967,NaN,10.684367,-4.921305e+05,12.400867,NaN
std,58.910089,547.065984,0.0,171.877184,54.448938,98.375163,946.360898,54.865677,50.234301,6703.647359,...,3.235243e+05,52085.698117,49757.162528,5839.932267,73655.638394,NaN,18.829077,8.593250e+06,48.773831,NaN
min,-81.910000,-99.030000,0.0,-92.310000,-79.940000,-94.560000,-97.940000,-87.530000,-98.090000,-1542.640000,...,-2.386364e+04,-54363.000000,-194.640000,0.000000,0.000000,NaN,-95.660000,-1.488342e+08,-345.880000,NaN
25%,-4.490000,-6.890000,0.0,0.000000,-5.955000,-7.722500,-10.687500,-8.542500,-9.202500,0.000000,...,5.995528e+03,97.345000,0.000000,0.000000,1478.502500,NaN,3.410000,0.000000e+00,4.572500,NaN
50%,2.635000,0.000000,0.0,0.000000,1.360000,1.745000,0.000000,1.145000,1.170000,0.000000,...,1.538902e+04,1190.630000,0.000000,0.000000,3607.165000,NaN,12.250000,1.956550e+02,19.210000,NaN
75%,10.742500,9.205000,0.0,0.000000,16.930000,14.962500,16.167500,11.667500,15.020000,1.600000,...,5.856620e+04,3470.422500,174.007500,0.000000,10899.215000,NaN,22.615000,7.014225e+02,32.782500,NaN
max,922.640000,9039.490000,0.0,2133.950000,574.830000,1591.630000,16282.800000,499.400000,469.560000,116066.340000,...,2.055868e+06,459499.000000,602155.270000,62921.000000,550894.000000,NaN,62.640000,4.761613e+05,176.650000,NaN

# csv로 저장

In [76]:
# listed.to_csv('../data/processed_data/재무비율.csv', index=False, encoding='UTF-8-sig')

In [77]:
# listed_describe.to_csv('../data/processed_data/재무비율_기초통계량.csv', index=False, encoding='UTF-8-sig')